{{#if this.length}}
    <div class="activity-list">
        <ul>
            {{#each this}}
            {{#renderActivity this}}{{/renderActivity}}
            {{/each}}
        </ul>
    </div>
{{else}}
    Recent <a href="/#browse">סרטון</a>, <a href="/exercisedashboard">תרגיל</a>, and <a href="#achievements">תג</a> activity will show up here.
{{/if}}

