<div id="vital-statistics">
    <div id="stats-charts" class="fancy-scrollbar -ce-capture">
        <div id="graph-control-container">
            <div id="graph-container">
                <div class="vital-statistics-description">
                    <div class="activity">
                        מראה כמה עבודה אתם עושים בכל יום.
                        {{#graph-date-picker-wrapper graph="activity"}}
                            {{> graph-date-picker}}
                        {{/graph-date-picker-wrapper}}
                    </div>
                    <div class="focus">
                        מראה כמה הצלחתם להתרכז על נושאים ותרגילים.
                        {{#graph-date-picker-wrapper graph="focus"}}
                            {{> graph-date-picker}}
                        {{/graph-date-picker-wrapper}}
                    </div>
                    <div class="exercise-progress">
                        מראה על אילו תרגילים עבדתם והשלמתם.
                        <span class="graph-options">
                            <span class="progress-legend exercise-color started">התחיל</span>
                            <span class="progress-legend exercise-color proficient">מיומן</span>
                            <span class="progress-legend exercise-color review light">לבחון מחדש</span>
                            <span class="progress-legend exercise-color struggling">מתקשה</span>
                        </span>
                    </div>
                    <div class="exercise-progress-over-time">
                        מראה כמה תרגילים סיימתם במשך הזמן
                    </div>
                    <div class="exercise-problems">
                        לחצו על הפס בשביל לראות עוד מידע על בעיות מפורטות.
                    </div>
                </div>
                <div id="graph-progress-bar"></div>
                <div id="graph-content" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
