{% extends "about/about_template.html" %}

{% block aboutcontent %}

<div id="the-team" style="font-size: 14px;">
    <div class="col1">
        <h2>קבוצה קטנה למען מטרות גדולות</h2>
        <p>
            We're a small team trying our best to improve the way the world learns.
            Too many people around the globe don’t have access to good education materials, or they are forced to learn through a system that doesn't properly cater to their individual needs. We think the technology exists today to fundamentally change this, and we're trying to build the tools and resources every student deserves.
        </p>
        <p>
            We believe a few great people can make a big difference.
            We strive to hire the very best &mdash; people who are passionate, thoughtful and creative.
            We believe it is our obligation to relentlessly focus on what the student values, and we make every decision with the student in mind.
        </p>
        <div class="col general-contact" style="padding-top: 0;">
            <a id="report" href="#">תגובות, הצעות או בעיות</a>
        </div>
    </div>
    <div class="col2">
        <img src="/images/team-photo.jpg" class="team-photo vertical-shadow" />
    </div>
    <div class="clear"></div>
    <hr>
    <h2 class="section-header">הצוות הישראלי</h2>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/sal.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">עמנואל</h2>
            <!--
            <h3>Founder &amp; Executive Director</h3>
            <p class="contact-links">
                <a href="http://twitter.com/khanacademy" class="contact-twitter">Twitter</a>
            </p>
            -->
            <p>
                פרופ' עמנואל גרינגרד עבד שנים רבות בחברת י.ב.מ ישראל, השתתף בפיתוח מערכות ההפעלה במעבדות הפיתוח בארה"ב וכן שימש כמנהל היישום של השפות השמיות במרכזי הפיתוח של י.ב.מ בארה"ב.
                בין תפקידיו בארץ ניתן למנות: מנהל הסיוע הטכני, מנהל הקבוצה להסבת תוכנות לעברית, מנהל ארצי של מהנדסי מערכות ומנהל המרכז המדעי של י.ב.מ. ישראל.
                משך עבודתו לימד באוניברסיטאות ולאחר פרישתו מי.ב.מ. יסד את המחלקה להנדסת תוכנה בשנקר – בי"ס גבוה להנדסה ולעיצוב ועמד בראשה שנים רבות. עיסוקו הנוכחי הוא במחשבים אישיים, אינטרנט ולימוד מקוון .משמש כמנהל הפרויקט של התאמת תוכנת Moodle לעברית ומרכז התרגום של אקדמיית קהאן לעברית.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/shantanu.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">ירדן</h2>
            <!--
                <h3>President &amp; COO</h3>
            <p class="contact-links">
                <a href="http://twitter.com/ShantanuKSinha" class="contact-twitter">Twitter</a>
            </p>
            -->
            <p>
                ירדן גילתה את קאהן אקדמי בעקבות חיפוש ברשת של סרטון שיסביר לה מה זה בינארי.
                מאז היא מחפשת אנשים שרוצים להרתם ליצירת שינוי בעולם, שיצטרפו אליה.
                היא חגגה השנה 25 והיא לקראת סיום תואר בפסיכולוגיה ומנהל עסקים.
                היא מאד אוהבת את האקדמיה, אבל מרגישה שהגיע הזמן ליצור אקדמיה של העולם החדש.
                היא מתגעגעת לניו-יורק שהייתה לה לבית, אבל אוהבת את ישראל יותר מהכל.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/bilal.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">ערן</h2>
            <!--
                <h3>Dean of Translations</h3>
            <p class="contact-links">
                <a href="mailto:translations@khanacademy.org" class="contact-email">Email</a>
            </p>
            -->
            <p>
                ערן חג'ג', בן 33 מתל אביב. מתכנת מילדות, יזם ואיש פיננסים.
                -ערן היה בעברו הCTO של ביטוח ישיר ויועץ טכנולוגי לחברות רבות בשוק הישראלי במסגרת תפקידו ב AlphaCSP.
                 כיום מנכ"ל ובעלים של חברת אלגו-טריידינג.
                 בנוסף ערן משקיע ומיעץ לחברות היטק שונות בניהן BINK ו-JFROG וכן היה שותף בהקמת מספר בארים בתל אביב.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/ben.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">עופר</h2>
            <!--
                <h3>Lead Developer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/kamens" class="contact-twitter">Twitter</a>
                <a href="http://bjk5.com" class="contact-blog">Blog</a>
            </p>
            !-->
            <p>
                עופר קורן נתקל לראשונה בקהאן לפני כ-5 שנים, אז עבד באולפני האנימציה של דיסני בקליפורניה, והיה צריך להשלים חסך במטריצות וטרנספורמציות בתלת-מימד.
                מאז הוא כבר חזר לישראל ועובד בחברת IBM כמהנדס תוכנה, ובמקביל מרכז את הפיתוח והתחזוקה של אתר אקדמית קהאן העברית.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/jason.jpg" id="jason" />
        </div>
        <div class="card-info">
            <h2 class="pulls">אסף</h2>
            <!--
                <h3>Lead Designer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/jasonrr" class="contact-twitter">Twitter</a>
                <a href="http://shipordie.com" class="contact-blog">Blog</a>
            </p>
            -->
            <p>
                אסף גלבוע הוא יזם בנשמה שמתמחה בהפיכת רעיונות טובים לארגונים מצליחים.
                בחמשת השנים האחרונות אסף הקים וניהל את תמיס יישומי כטב"ם, חברה פורצת דרך שהעבירה את עולם המטוסים הבלתי מאויישים מהספרה הצבאית לספרה האזרחית.
                בנוסף לפעילותו העסקית לאסף יש תשוקה בוערת לחינוך. בשנתיים האחרונות אסף עובד עם נערים ונערות בערי הפריפריה במסגרת עמותת יוניסטרים, אשר פועלת להעניק למנהיגי העתיד של ארצנו את הביטחון העצמי והאמונה ביכולת שלהם להיות יזמים וליצור עולם טוב יותר.
                כשהוא לא מנסה לשנות את העולם אסף משחית את זמנו בטיולים ברחבי הארץ והעולם עם אשתו ושון הכלב (גולדן רטריור ויזם בתחום העצמות וכדורי הטניס) וברכיבה על אופני שטח ברחבי ארץ ישראל המדהימה.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/marcia.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">שחר</h2>
            <!--
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/marcia_lee" class="contact-twitter">Twitter</a>
                <a href="http://missmarcialee.com" class="contact-blog">Blog</a>
                <a href="/profile/marcia" class="contact-ka">Profile</a>
            </p>
            -->
            <p>
                שחר קידר, בן 30, גר במסילת ציון ונשוי למילה. בימים הוא מתכנת בכיר בחברת סטארטאפ בשם BigPanda.
                בלילות הוא ישן. פעם חלם להיות מורה, אבל במקום זה, החליט לנצל את התשוקה שלו לטכנולוגיה ולחינוך על מנת לייסד את "אקדמיית קהאן בישראל".
            </p>
        </div>
    </div>
    <div class="clear"></div>

    <div style="text-align:center;"><p>כמו כן עזרו ברגום ובדיבוב <a href="/contribute/credits">האנשים היקרים האלה</a>.</p></div>

    <p>&nbsp;</p>
</div>
{% endblock aboutcontent %}

{% block bottompagescript %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
$(function(){
    $('#jason').hover(
        function(){$('#jason').attr('src', '/images/headshots/jason-rawr.jpg');},
        function(){$('#jason').attr('src', '/images/headshots/jason.jpg');}
    );
});
</script>
{% endblock bottompagescript %}
