{% extends "about/about_template.html" %}
{% block pagescript %}
<style>
    #faq {
        padding-top: 18px;
    }
    #faq-nav {
        background: #eee;
        padding: 9px;
        max-width: 31%;
        min-width: 31%;
        margin-left: 3%;
        margin-bottom: 90px;
    }
    #faq-nav ul {
        list-style: outside decimal;
        margin-right: 18px;
    }
    #faq-nav li {
        margin-bottom: 5px;
    }
    #faq-nav li a {
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
    }
    #faq-nav li a:hover {
        text-decoration: underline;
    }
</style>
<script type="text/javascript" src="/javascript/homepage-package/waypoints.min.js?{{App.version}}"></script>
{% endblock %}
{% block aboutcontent %}

<div id="faq">
    
    <div id="faq-nav-wrapper">
        <div id="faq-nav" class="col1 forty-sixty vertical-shadow visited-no-recolor">
            <h2 class="pulls">שאלות שהרבה שואלים</h2>
            <p id="wp1" style="margin-top: 9px;">
                <em>סאל עונה על כמה שאלות שכיחות בנוגע לאקדמיית קהאן...</em>
            </p>
            <ul>
                <li><a href="#why">למה אתה עושה את הפרוייקט הזה?</a></li>
                <li><a href="#what">מה לדעתך מייחד את אקדמיית קהאן משאר המשאבים החינוכים הזמינים?</a></li>
                <li><a href="#curricula">לפי איזו תוכנית לימודים אתה מלמד?</a></li>
                <li><a href="#effective">איך אתה יודע שאקדמיית קהאן היא אפקטיבית?</a></li>
                <li><a href="#teachers">אני מורה המנסה לסדר את אקדמיית קהאן בכיתה שלי או מורה המנסה לרשום את הילד שלי. איך אני מתחיל להשתמש בזה עם התלמיד(ים) שלי?</a></li>
                <li><a href="#started">איך התחלת?</a></li>
                <li><a href="#full-time">איך היה לך זמן לעשות את זה בזמן שעבדת עבודה במשרה מלאה?</a></li>
                <li><a href="#access-content">האם יש אפשרות גישה נוספת בנוסף ל- YouTube?</a></li>
                <li><a href="#funding">איך אתה מרוויח/ממן כסף בשביל כל זה?</a></li>
                <li><a href="#business">האם אתה מעוניין להפוך את זה לעסק? אולי עם קצת מימון מקרן הון סיכון?</a></li>
                <li><a href="#videos">האם עשית את כל הסרטונים?</a></li>
                <li><a href="#dub">האם אני יכול לדובב את הסרטונים שלך בשפה אחרת?</a></li>
                <li><a href="#topics">אילו נושאים אתה מתכנן לכסות?</a></li>
                <li><a href="#long-term">מה היא היעד לטווח ארוך של אקדמיית קהאן?</a></li>
                <li><a href="#equipment">באיזה מיכשור אתה משתמש בשביל ליצור את הסרטונים שלך?</a></li>
                <li><a href="#where-from">מאיפה אתה? מאיזה דת/מוצא אתני אתה?</a></li>
                {#<li><a href="#help">איך אני/אתה יכול לעזור?</a></li>#}
            </ul>
        </div>
        <div id="nav-placeholder" class="col1 forty-sixty" style="height: 1px; padding: 0 9px; max-width: 31%; min-width: 31%; margin-left: 3%;">
            &nbsp;
        </div>
    </div>
    <div class="col2 forty-sixty" style="text-align: justify; padding-top: 9px;">
    
    <a name="why"><h2>למה אתה עושה את הפרוייקט הזה?</h2></a>
    <p>
        אני (סאל) לא יכול לחשוב על משהו יותר טוב לעשות עם הזמן שלי (או של כל אחד אחר).
    </p>
    <p>
        באמצעות מחשב ועט דיגיטלי אפשר להיות מורה של כל העולם! אפילו טוב יותר,
        התוכן לעולם לא מתיישן. הנכדים של הנכדים שלי יוכלו
        ללמוד מאותם סרטונים!
    </p>

    <a name="what"><h2>מה לדעתך מייחד את אקדמיית קהאן משאר המשאבים החינוכים הזמינים?</h2></a>
    <img class="rounded-background" src="/images/sal_faq.png" style="float:left;height:228px;width:341px;margin-right:20px;"/>
    <p>
    יש מספר הבחנות ברורות. עם יותר מ-{{ approx_vid_count|escape }} סרטונים, זה בקלות האוסף שממצה את האפשרות ללימודים דרך האינטרנט
        ומאפשר ללומדים לדעת שהם יכולים למלא כמעט כל "פער" עם המידע שיש כאן באתר הזה. התוכן
        מחולק לחתיכות פשוטות לעיכול שאורכן כ 10-20 דקות  - קל לצפות בהן במחשב בניגוד לסרטונים הארוכים
        של הרצאה לימודית כמו שהכרנו אותה עד היום. הסגנון הנגיש של הסרטונים הוא סוג של ניגוד לאופן שבו אנשים בדרך כלל מתייחסים
        ללימודי מתמטיקה ומדע. ובכל מקרה, ההבחנות הפחות ברורות הן מה שעושה את האתר קשה לשחזור.
    </p>

    <p>
        אני מלמד בדרך בה קיוויתי שבה היו מלמדים אותי.
        ההרצאות מגיעות ממני, בן אדם שמוקסם מהעולם 
        המושגים מועברים בדרך בה אני מבין אותם, לא בדרך בה הם כתובים בספר לימוד שנכתב
        בידי מערכת חינוך כלשהי. הצופים יודעים שזו עבודה שנוצרה באהבה על ידי אדם מעט מוזר ונחוש שיש לו
        תשוקה
        ללמוד וללמד
        אני לא חושב ששום מאמץ של חברה או ממשלה --לא משנה כמה כסף נזרק על הבעיה-- יכול לשחזר את זה.
    </p>

    <p>
        הרבה מהניסיון החינוכי שלי בוזבז על תסכול מהאופן בו הועבר המידע בספרי לימוד והרצאות.
        יכולים להיות
        הקשרים שתוכנית לימוד רגילה תתעלם מהם למרות העובדה שהם הופכים את התוכן לקל יותר
        להבנה, הנאה, ולשמירה. הרגשתי שמושגים מרתקים ואינטואטיביים נשחטים בכוונת תחילה לתוך
        דפים של טקסט מרדים ומונוטוני, הרצאות מתוסרטות. ראיתי מכרים אינטלגנטים משננים 
        צעדים ונוסחאות בשביל הבחינה הבאה בלי שום תחושה של אינטואציה או של תמונה גדולה יותר,
        רק בשביל לשכוח הכל בתוך מספר שבועות.
        הסרטונים הללו הם התבטאות שלי לאיך המושגים האלו
        היו אמורים להתבטא בהתחלה, כל זאת בעוד שלא מתפשר על שלמות או הקפדה.
    </p>

    <a name="curricula"><h2>לפי איזו תוכנית לימודים אתה מלמד?</h2></a>
    <p>
        התשובה הפשוטה היא אף אחת מהתוכניות. אני מאמין שאדם אשר באמת מבין את ליבת המושגים ישגשג
        באופן אקדאמי ללא קשר לתוכן של תוכנית הלימודים. בשביל לקחת צעד נוסף, אני מאמין שאדם אשר
        מתנסה באושר ובסיפוק של הבנה אמיתית לעולם לא יהיה מסופק עם צורת
        הלימוד השטחית אשר
        מרבית התלמידים גדלו להיות מורגלים אליה. אקדמיית קהאן היא בנוגע למקם הבנה עמוקה מעל כל דבר אחר.
    </p>
    <p>
        עם זה נאמר, ישנם מושגים המכוסים בבחינות ארציות אשר כל תמיד צריך להיות חשוף אליהם בשביל
        להיות תחרותי. לכן אני רוצה לנסות לכסות את כל הנושאים אשר יכולים להופיע במבחני A.P ו-SAT, ועוד
        מבחנים סטנדרטים. לוקחים צעד נוסף, ישנם מאות סרטונים מוקדשים ל-SAT, GMAT ועוד שאלות סטנדרטיות
        במבחנים. בנוסף אני מאמין שבגלל הטבע הפרטני של הסרטונים באורן 10 דקות, התוכן
        יוכל להיות ממופה לכמעט כל הסטנדרטים של מדינה או אומה.
    </p>

    <a name="effective"><h2>איך אתה יודע שאקדמיית קהאן היא אפקטיבית?</h2></a>
    <p>
        <img class="rounded-background" style="float:left;margin-right:20px;margin-bottom:10px;width:350px;" src="/images/attention.GIF">
        <img class="rounded-background" style="float:left;clear:both;margin-right:20px;;width:350px;" src="/images/averagechart.GIF">
        הרקע שלי הוא במתמטיקה, מדעי המחשב, וניהול השקעות, אז אני חושב שאתה יכול
        לדמיין שאף אחד לא יותר אובססיבי לגבי מידע וניתוח ממני. הטבלה לשמאל מסופקת על ידי YouTube. ניתן להשתמש 
        בזה בכדי לקבוע אם ו/או מתי תשומת הלב של הצופה יורדת בנקודה מסויימת בסרטון. אני יכול אז ללכת חזה ולנסות לזהות 
        (ואולי לתקן) את מה שקרה באותה נקודה בסרטון.
    </p>
    <p>
        הטבלה הבאה 
        מראה את ההתקדמות הממוצעת (הקו השחור) של קבוצה בעלת 30 תלמידי כיתה ח' בתוכנה של אקדמיית קהאן בזמן נתון של שישה שבועות.
        הציר האופקי מסמל את כמות הימים בהם הם עבדו באתר והציר האנכי מסמל את כמות המודולים שסיימו. הקווים הירוקים מראים סטיית תקן
        אחת מעל ומתחת לממוצע. הטבלה הזו מדגימה גם את הרמה של המידע שאנו תופסים וגם מדגישה את החשיבות
        של הערכה בזמן אמת, הוראה בקצב אישי ופרטני. הקווים הסגולים מראים  תלמיד שאולי 
        נקבע כתלמיד "חלש" ע"י הערכות מסורתיות בגלל שהוא היה בסטיית תקן אחת מתחת לממוצע הכיתתי
         אחרי עבודה באתר במשך כמה ימים. המציאות היא שהוא רק צריך יותר זמן עבודה על התרגילים
        מאשר תלמידים אחרים בקבוצה. כאשר תנתן לו ההזדמנות להיות יותר מיומן בנושא הוא ירוץ קדימה
        ויסיים להיות אחד התלמידים המצטיינים בקבוצה.
    </p>

    <p>
        יותר מאשר המידע זה העדויות מהמשתמשים ששיכנע אותי לעזוב את העבודה שלי ולהפוך את זה
        להיות המיקוד של חיי. קיבלתי מאות מכתבים ותגובות כל שבוע. הרבה מהם פשוט הודעות של הוקרה רבה, אבל הרבה מהם
        הפכו להיות מקור השראה. הנה מכתב שקיבלתי ממשתמש ב- YouTube בסמפטמבר 2009 
        (הדגשתי חלק מהטקסט):
    </p>

    <blockquote style="padding-right:40px;">
        מר. קהאן,
        <br/><br/>
        אף מורה לא עשה עימי חסד-- אני יודע שזה אולי נשמע קשה אבל אני מתכוון לזה.
        הכריחו אותי לאכול תרופות בשביל למנוע ממני לדבר וכשלא עניתי כאשר פנו אליי, נזפו בי.
        מאיפה שאני בא שחורים אינם מתקבלים בזרועות פתוחות אל תוך בתי הספר-- אמא שלי ואחותי נאלצו ללכת
        לצריף קטן, שעתים מהבית כאשר הן הלכו לבית הספר.
        לפני חמש שנים מהיום המשפחה שלי אספה מספיק כסף בשביל לעבור מהמקום בו נולדתי, בשביל
        שתהיה לי הזדמנות לקבל חינוך ולחיות חיים אמיתים.
        אבל ללא שליטה אמיתית במתמטיקה של בית ספר יסודי הייתי איטי בהתקדמות.
        <br/><br/>
        אני עכשיו במכללה ולומד הרבה יותר ממה שלמדתי בחיי.
        <b>אבל רקע לקוי במתמטיקה מחזיק אותי מאחור</b>.
        מצאתי את אקדמיית קהאן ביוני 2009, ממש אחרי שסיימתי מתמטיקה 141 (קורס אלגברה בקולג').
        <b>ביליתי את כל הקיץ על ערוץ ה-YouTube שלך.</b>
        רק רציתי להודות לך על כל הדברים שאתה עושה.
        אתה מתת אלוהים. שבוע שעבר נבחנתי בבחינת שיבוץ במתמטיקה ועכשיו אני נמצא בקורס מתמטיקה למתקדמים 200.
        <b>כל השאלות נענו נכונה.</b>
        הבוחן שלי במבחן השיבוץ התרשם כל כך מכמות הידע שלי במתמטיקה עד שהוא אמר שאני צריך להיות באלגברה לינארית.
        <br/>
        מר. קהאן, אני יכולה לומר ללא היסוס שאתה שינית את חיי ואת חיי כל המשפחה שלי.
        <br/><br/>
        אני מאחל לך ולאקדמיית קהאן הצלחה בהמשך הדרך.
    </blockquote>
    <br/>
    <a name="teachers"><h2>אני מורה המנסה לסדר את אקדמיית קהאן בכיתה שלי או מורה המנסה לרשום את הילד שלי. איך אני מתחיל להשתמש בזה עם התלמיד(ים) שלי?</h2></a>
    <p>
        תבדוק את <a href="/about/getting-started#teachers">עמוד מתחילים לעבוד</a> בשביל פרטים.
    </p>
    <a name="started"><h2>איך התחלת?</h2></a>
    <p>
        המשפחה של דוד שלי ביקרה אותי בבוסטון אחרי החתונה שלי בקיץ 2004.
        בשלב מסויים במהלך הטיול, דודה שלי סיפרה לי שהבת שלה (בת הדודתי) מתקשה
        בבעיות של המרת יחידה, מה שמנע ממנה להיות משובצת
        בכיתה יותר מתקדמת למתמטיקה בשביל כיתה ז'. נאדיה הייתה באופן ברור ילדה נבונה, אז
        עשיתי איתה עסקה. אני הייתי עושה שיעורי תגבור במחשב שעה אחר העבודה כל עוד היא הייתה
        מוכנה לעשות את העבודות הנוספות שאתן לה.
    </p>
    <p>
        התחלתי לעשות לנאדיה שיעורי תגבור מהמחשב באוגוסט 2004. היא הייתה
        בניו אורלינס-- איפה שגם אני גדלתי--- אז השתמשנו בטלפון בכדי לדבר וב-Yahoo Doodle
        כי לוח כתיבה משותף. נאדיה הצליחה בסופו של דבר לתפוס את הכיתה בחומר לימוד ואף להתקדם מהכיתה
        אז התחלתי לתגבר את האחרים שלה, ארמאן ואלי, גם כן. בסופו של דבר, השמועה יצאה
        ואני התחלתי לתגבר דרך המחשב קבוצה של בני דודים וחברים של המשפחה. קביעת 
        שעות מסביב לעבודה שלי, אימוני הכדורגל שלהם והפרשי השעות הפך להיות
        מגוחך, אז התחלתי לעשות סרטוני YouTube בשביל שיראו בזמן הפנוי שלהם
        בקצב שלהם.
    </p>
    <p>
        לא לקח הרבה זמן לראות שתלמידים אחרים (בנוסף גם מבוגרים שלומדים) הפכו רעבים
        לסרטונים דומים אז המשכתי לעשות עוד!
    </p>
    <p>
        אפילו לפני שעשיתי את הסרטונים, התחלתי לכתוב קודים פשוטים של ג'אווה היוצרים בעיות כך
        שבני הדודים שלי לעולם לא יגמרו תרגילים לתרגול. רציתי לדעת מתי ואיך
        הם היו עושים את הבעיות, אז הוספתי ממסד נתונים בשביל לעקוב אחר השימוש. 100 מודולים ואלפי
        שורות של קוד לאחר מכן (מה שגרם לתוכנה להסמדליהל), זה השתנה
        לתוכנת הערכת התרגילים המסתגלת של האתר שלנו.
    </p>

    <a name="full-time"><h2>איך היה לך זמן לעשות את זה בזמן שעבדת עבודה במשרה מלאה?</h2></a>
    <p>
        אשתי עשתה את התמחות שלה-- ברפואה פנימית-- מ2005 עד 2008, אז היו 
        הרבה לילות/ סופי שבוע בהם היא עבדה ולי היו רגשות אשם
        בכך שאני עושה משהו פחות מועיל. אני גם ניסיתי לראות מעט מאוד טלוויזיה. מעל כל זה,
        עבדתי בחברת השקעות שהעסיקה אותי מחמש בבוקר עד שתים בצהרים (עבדנו
        בשעות החוץ המזרחי מקליפורניה) אז הרבה מהצהריים שלי היו חופשים (למרות זאת הלכתי לישון בתשע).
    </p>

    <a name="access-content"><h2>ביה"ס שלי/מחוז/מדינה חסמה את YouTube או שאין לי גישה לאינטרנט איפה שאני
            רוציה להשתמש באתר. האם יש דרך אחרת לקבל גישה למידע?</h2></a>
    <p>
        כל הסרטונים מופיעים ב-archive.org, ואם YouTube חסום האתר באופן
        אוטומטי יראה לכם עותקים משם.
        <a href="http://k16bridge.org/">המרכז למחקר חינוכי על שם לואיס</a> אשר
        מזוהה עם נאסא מביא את המידע אל המכללות הקהילתיות ובתי ספר ציבורים
        מסביב למדינה.  <a href="http://www.worldpossible.org">World Possible</a> יוצר
        תמונות מקוונות, ללא צורך באינטרנט, של התוכן בשביל הפצה בכפרים, אזורים בעת פיתוח עם מוגבלות
        או ללא גישה לאינטרנט. ניתן גם להוריד את התוכן מ-YouTube בחינם
        בשימוש בגירסה האחרונה של RealPlayer, או <a href="/downloads">מכמה מקורות אחרים</a>.
    </p>

    <a name="funding"><h2>איך אתה מרוויח/ממן כסף בשביל כל זה?</h2></a>
    <p>
        התפטרתי מהעבודה
        היומית שלי בסמפטמבר 2009 בשביל לעבוד בזה במשרה מלאה ושקעתי בחשבונות שלי עד לאחרונה.
        במאי 2010, מספר אנשים נדיבים נתנו מספיק מתנות גדולות בעבורי בשביל לקחת משכורת.
        <br/><br/>
        מאז, אקדמיית קהאן קיבלה תרומות <a href="http://www.youtube.com/watch?v=UuMTSU9DcqQ">מ- The Gates Foundation</a> וניצחה <a href="http://project10tothe100.com">בפרויקט 10 ל-100 רעיונות לשנות את העולם,</a> מבית גוגל.
    </p>
    <p>
        אקדמיית קהאן מוכרת במס ההכנסה 501c3 כארגון שלא למטרת רווח. היעד שלי היא
        להפוך אותה לארגון שמפרנס את עצמו בחמש שנים הקרובות.
    </p>

    <a name="business"><h2>האם אתה מעוניין להפוך את זה לעסק? אולי עם קצת מימון מקרן הון סיכון?</h2></a>
    <p>
    ניגשו אליי מספר פעמים, אבל זה פשוט לא הרגיש בנוח. כשאגיע לגיל 80, אני רוצה
    להרגיש שעזרתי לתת גישה לחינוך גבוה למיליוני תלמידים מסביב
    לעולם. נשמע הרבה יותר טוב מאשר להתחיל עסק אשר מחנך קבוצת משנה של העולם המפותח שיכול
    לשלם 19.95$ לחודש ובסופו של דבר למכור את זה לאיזו חברת ספרי לימוד או כדומה.
    יש לי כבר אישה יפיפיה, בן מצחיק, שתי הונדות ובית. מה עוד אדם צריך?
    </p>
    <p>
    אם זה נאמר, אם אתם אנשים המשקיעים הון בחברה ומחפשים היכן להשקיע הון 
    בו יש תשואה חברתית גבוהה עבור כל דולר מושקע, אנחנו צריכים לדבר. אני חושב שאתם תמצאו שאין
    דבר יותר יותר נמדד, נסקר ובעל השפעה גבוהה יותר בשביל לחנך את העולם.
    </p>

    <a name="videos"><h2>האם עשית את כל הסרטונים?</h2></a>
    <p>
    נכון להיום (27.10.2011), הרוב המכריע של {{ approx_vid_count }}+ סרטונים נעשה על ידי. <a href="/about/blog/post/11669374513/khan-academy-expands-to-art-history">אנחנו בשיתוף עם Smarthistory,</a>וד"ר בת' הריס וד"ר סטיבן זוקר הצטרפו לצוות והוסיפו <a href="/#smarthistory">מאות סרטונים של Art History </a> לספרייה שלנו. בנוסף, מתנדבים החלו לתרגם את הסרטונים
    לשפות אחרות.  <A href="http://www.youtube.com/user/KhanAcademyEspanol">פה זו אקדמיית קהאן בספרדית</A>.
    מקווה שיהיו עוד ערוץ בעתיד הקרוב!
    </p>

    <a name="dub"><h2>האם אני יכול לדובב את הסרטונים שלך בשפה אחרת?</h2></a>
    <p>
        בוודאי! למעשה, <a href="/contribute#translation">פרויקט התרגום של אקדמיית קהאן</a>
        מחפשת אחר אנשים בעלי תשוקה כמוכם אשר יכולים
        לתרגם את ההדרכות לשפות המדוברות בכל העולם. אם אתם יכולים להציע עקביות בקול ובאיכות
        בנושאים, אנחנו נכלול את התרגומים שלכם באתר של אקדמיית קהאן! בקר
        <a href="/contribute#translation">בפרויקט התרגום</a> בשביל סיוע
        ועדכונים.
    </p>

    <a name="topics"><h2>אילו נושאים אתה מתכנן לכסות?</h2></a>
    <p>
        היעד שלי היא לכסות הכל. כן הכל! רוב החומר על מתמטיקת K012 כבר נעשה.
        היעד שלי היא להמשיך לעשות סרטונים עד היום בו אמות (אני מקווה 
        שיהיה ב-50 או 60 שנים הבאות.) זה יכול לתת לי זמן להכין כעשרת אלפים של סרטונים של כמעט
        כל נושא.
    </p>
    <a name="long-term"><h2>מה היא היעד לטווח ארוך של אקדמיית קהאן?</h2></a>
    <p>
    אני רואה שאקדמיית קהאן הופכת להיות בית הספר הוירטואלי, הראשון והחינמי בעולם איפה שכל אחד יכול ללמוד הכל-- בחינם.
    </p>
    <p>
    הסרטונים האלו הם חלק מהחזון. אנחנו בונים את התוכנה המסתגלת שתוכל לכסות את כל הנושאים אשר
    הסרטונים מכסים. אנחנו גם מתכוונים לפתח משחקי הדמייה בשביל לתת ניואנסים וליישם הבנה של מושגים.
    </p>

    <a name="equipment"><h2>באיזה מיכשור אתה משתמש בשביל ליצור את הסרטונים שלך?</h2></a>
    <p>
    אני משתמש ב- Camtasia Recorder ($200) + SmoothDraw3(Free) + a Wacom Bamboo Tablet ($80) על מחשב. אני השתמשתי בעבר ב-ScreenVideoRecorder($20) 
    ובצייר של מיקרוסופט שהוא בחינם.
    </p>

    <a name="where-from"><h2>מאיפה אתה? מאיזה דת/מוצא אתני אתה?</h2></a>
    <p>
    נולדתי וגדלת בניו אורלינס, לואיזיאנה. אימא שלי נולדה בקלקוטה, הודו. אבא שלי נולד בבריסאל, בנגלדש.
    </p>
    <p>
    אם אתם מאמיני בלנסות לעשות את המיטב במספר הסופי שיש לנו על הכוכב הזה
    (בזמן שלא לעשות את אפילו רע יותר בשביל אנשים אחרים), אני חושב שגאווה וצדקנות הם הסיבה של רוב הסיכסוכים והשליליות,
    ומצטנעים למרחבים
    ולמסתורין של היקום, אז אני באותה דת כמוכם.
    </p>

    {#
    <a name="help"><h2>איך אני/אתה יכול לעזור?</h2></a>
    <p>
    תראו את <a href="/contribute">עמוד</a> איך לעזור.
    </p>
    #}
    </div>
    <div class="clear"></div>
    <p>&nbsp;</p>
</div>
<script type="text/javascript">
    $(document).ready(function() {	
        // Waypoint behavior not supported in IE7-
        if ($.browser.msie && parseInt($.browser.version) < 8) return;

        $.waypoints.settings.scrollThrottle = 50;

        $("#wp1").waypoint(function(event, direction) {

            var jel = $("#faq-nav");
            var jelPlaceholder = $("#nav-placeholder");
            
            if (direction == "down") {
                jel.css('position', 'fixed').css('top', '-80px').css('max-width', jelPlaceholder.width()).css('min-width', jelPlaceholder.width());
            }
            else {
                jel.css('position', 'static').css('max-width', '31%').css('min-width', '31%');
            }
        });
    });
</script>
{% endblock aboutcontent %}

