{% extends "about/about_template.html" %}

{% import 'macros/coach.html' as coach %}

{% block pagescript %}
<style>
    #faq {
        padding-top: 18px;
    }
    #faq-nav {
        background: #eee;
        padding: 9px;
        max-width: 31%;
        min-width: 31%;
        margin-left: 3%;
        margin-bottom: 90px;
    }
    #faq-nav ul {
        list-style: outside decimal;
        margin-right: 18px;
    }
    #faq-nav li {
        margin-bottom: 5px;
    }
    #faq-nav li a {
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
    }
    #faq-nav li a:hover {
        text-decoration: underline;
    }
</style>
<script type="text/javascript" src="/javascript/homepage-package/waypoints.min.js?{{App.version}}"></script>
{% endblock %}
{% block aboutcontent %}

<div id="faq">
    
    <div id="faq-nav-wrapper">
        <div id="faq-nav" class="col1 forty-sixty vertical-shadow visited-no-recolor">
            <h2 class="pulls">מתחילים ללמוד</h2>
            <p id="wp1" style="margin-top: 9px;">
                <em>איך להפיק את המרב מאקדמיית קהאן</em>
            </p>
            <ul style="font-size: 13px;">
                <li><a href="#students">איך אני מתחיל להשתמש באתר?</a></li>
                <li><a href="#teachers">אני מורה, מדריך או הורה. איך אני מתחיל להשתמש באתר עם התלמיד/ים שלי?</a></li>
                <li><a href="#schools">אני מנהל ביה"ס השוקל לנסות את האתר בביה"ס שלי, מאיפה אני מתחיל?</a></li>
            </ul>
        </div>
        <div id="nav-placeholder" class="col1 forty-sixty" style="height: 1px; padding: 0 9px; max-width: 31%; min-width: 31%; margin-left: 3%;">
            &nbsp;
        </div>
    </div>
    <div class="col2 forty-sixty" style="text-align: justify; padding-top: 9px;">
    
    <a name="students"><h2>איך אני מתחיל להשתמש באתר?</h2></a>
    <a href="/about" style="float: left; margin: 0 0 20px 20px; min-width: 320px;">
        <img src="/images/exercise-dashboard-medium.png" height="250" width="320" class="rounded-background">
    </a>
    <p>
        כל אחד יכול להשתמש בכל אקדמיית קהאן בחינם. תשתמש בחשבון הגוגל או הפייסבוק שלך בשביל <a href="/login">להירשם 
        ולהתחיל עכשיו</a>. התחברות מאפשרת לכם לעקוב אחר ההתקדמות שלכם ולקבל נקודות ומדליות.
    </p>
    <p>
        אם אין לכם חשבון באף אחד מהאתרים האלו, אתם יכולים להירשם ל- 
        <a href="https://www.google.com/accounts/NewAccount">גוגל</a> או <a href="http://www.facebook.com/r.php">פייסבוק</a> ולהתחיל.
    </p>
    <p>
    <a name="under-13">אם אתם מתחת לגיל 13:</a>
    </p>
    <p style="margin-right:23px;">
        תצטרכו לבקש מההורים שלכם ליצור לכם חשבון, סליחה!
    </p>
    <div class="clear"></div>
    <a name="teachers"><h2>אני מורה, מדריך או הורה. איך אני מתחיל להשתמש באתר עם התלמיד/ים שלי?</h2></a>
    <p>
        קודם כל: תצטרך חשבון, ולהיות מחובר לאקדמיית קהאן. אז דבר ראשון -  <a href="/login">הירשם או התחבר.</a>.
        עכשיו משיש לך חשבון תלמידיך יוכלו להוסיף אותך כמדריך שלהם.
    </p>
    <p>
        השלב הבא: כל תלמיד שאתה רוצה להדריך צריך חשבון. תלמידים מעל גיל 13 יכולים להרשם לחשבון  
        <a href="https://www.google.com/accounts/NewAccount">גוגל</a> או <a href="http://www.facebook.com/r.php">פייסבוק</a> באופן מיידי.
    </p>
    <p>אם התלמידים מתחת לגיל 13:</p>
    
    <p style="margin-right:23px;">כרגע ישנן שתי אפשרויות: 
    אתה יכול לרשום את ביה"ס שלך ב- <a href="http://www.google.com/a/help/intl/en/edu/">Google Apps for Education</a>, מה שיאפשר לך לקבל חשבון בגוגל עבור כל תלמיד, או שתוכל לבקש מהורי התלמידים ליצור בעבור הילדים שלהם חשבון ב- <a href="https://www.google.com/accounts/NewAccount">גוגל</a> או <a href="http://www.facebook.com/r.php">פייסבוק</a>. אנחנו עובדים על פתרונות חלופיים, אולם כרגע זה הטוב ביותר שיש לנו להציע (סליחה!).
    </p>
    <p>
        כאשר העדכון נגמר, כל תלמיד יצטרך לזהות אותך בתוך המדריך שלהם. ישנם הוראות מפורטות וצילומי מסך  
        <a href="/class_profile">בעמוד המדריך</a> או <a href="" onclick="$('#empty-class-container').slideDown('fast');return false;">אתה יכול למצוא אותם פה</a>.
    </p>
    <div id="empty-class-container" style="display: none;">
        {{ coach.empty_class_instructions(False) }}
    </div>
    <a name="schools"><h2>אני מנהל ביה"ס השוקל לנסות את האתר בביה"ס שלי, מאיפה אני מתחיל?</h2></a>
    <p>
        פנו אלינו! אנחנו התחלנו לעבוד עם המערכת במספר בתי ספר ואנו יכולים לסייע לכם לעבוד עם "קהאן אקדמי" גם אצלכם בבית הספר.
    </p>
    <p>
        מלאו את <a href="https://docs.google.com/a/programa17.com/spreadsheet/embeddedform?formkey=dFdmdzA2cEZzVmYxV3VBeTFqVWJrcUE6MQ">הטופס</a> ונחזור אליכם בהקדם.
    </p>
    </div>
    <div class="clear"></div>
    <p>&nbsp;</p>
</div>
<script type="text/javascript">
    $(document).ready(function() {	
        // Waypoint behavior not supported in IE7-
        if ($.browser.msie && parseInt($.browser.version) < 8) return;

        $.waypoints.settings.scrollThrottle = 50;

        $("#wp1").waypoint(function(event, direction) {

            var jel = $("#faq-nav");
            var jelPlaceholder = $("#nav-placeholder");
            
            if (direction == "down") {
                jel.css('position', 'fixed').css('top', '-60px').css('max-width', jelPlaceholder.width()).css('min-width', jelPlaceholder.width());
            }
            else {
                jel.css('position', 'static').css('max-width', '31%').css('min-width', '31%');
            }
        });
    });
</script>
{% endblock aboutcontent %}

