{% extends "about/about_template.html" %}

{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block aboutcontent %}
<div id="about-blog">
    <div id="blog-content">
        {% block posts %}
        {% for post in posts %}
        <h2 class="pulls visited-no-recolor"><a href="{{ post.local_url()|escape }}">{{ post.title|escape }}</a></h2>
        <p class="pulled" style="color: #999; font-style: italic; font-family: Georgia;">{{ post.dt }}</p>
        <div id="post-content">
        {{ post.body }}
        </div>
        <p><a class="dsq-comment-count" href="{{ post.local_url()|escape }}#disqus_thread">תגובות</a></p>
        <hr style="margin-top: 36px;">
        {% endfor %}
        <div id="page-controls">
            {% if has_prev %}
                <a href="/about/blog?offset={{ prev_offset|escape }}" class="simple-button action-gradient">פרסומים חדשים</a>
            {% endif %}
        
            {% if has_next %}
                <a href="/about/blog?offset={{ next_offset|escape }}" class="simple-button action-gradient">פרסומים ישנים</a>
            {% endif %}
        </div>
        <script type="text/javascript">var disqus_url = ""; var disqus_title ="";</script><script type="text/javascript">
        var disqus_shortname = 'bjk5';
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.src = 'http://disqus.com/forums/bjk5/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
        {% endblock posts %}
    </div>
    <div id="blog-sidebar">
        <div id="social-links">
            <h2>בואו נתחבר!</h2>
            <p>
                <a href="http://feeds.feedburner.com/KhanAcademy" class="simple-button action-gradient social-button">
                    <img src="/images/social_rss_box_orange_48.png" width=48 height=48 />
                    הרשמו לבלוג
                </a>
                <a href="http://www.facebook.com/khanacademy" class="simple-button action-gradient social-button">
                    <img src="/images/social_facebook_box_blue_48.png" width=48 height=48 />
                    הצטרפו אלינו ב-Facebook
                </a>
                <a href="http://twitter.com/khanacademy" class="simple-button action-gradient social-button">
                    <img src="/images/social_twitter_box_blue_48.png" width=48 height=48 />
                    עקבו אחרינו ב- Twitter
                </a>
            </p>
        </div>
        <div id="mailing-list">
            <h2>מעדיפים דוא"ל?</h2>
            <p>
                אם אתם לא צריכים כל פרט קטן אבל 
                רוצים לשמוע על החדשות, אז עידכונים 
                בדוא"ל יכולים להתאים לכם. אנחנו 
                לעולם לא נמכור את כתובת הדוא"ל שלכם  
                למישהו מאיזו סיבה שהיא.
            </p>
            <p>
                {{ mailing_lists.signup_form(1, "Sign me up", "Enter your email address") }}
            </p>
        </div>
        <div id="pilot-list">
            <h2>רוצים להשתמש באקדמיית קהאן בביה"ס שלכם?</h2>
            <p>
                אם אתם המורים או המנהלים, 
                הרשמו בכדי ללמוד יותר על איך בתי ספר
                יכולים להשתמש באקדמיית קהאן.
            </p>
            <p>
                {{ mailing_lists.signup_form(2, "Sign me up", "Enter your email address") }}
            </p>
        </div>
    </div>
</div>
{% endblock aboutcontent %}
