{% extends "page_template.html" %}

{% block pagesubmenu %}
<span class="breadcrumbs_nav">
    <a href="/badges/custom/create" class="selected">צרו מדליה מותאמת</a>
    <a href="/badges/custom/award">העניקו מדליה מותאמת</a>
</span>
{% endblock pagesubmenu %}

{% block pagecss %}
<style>
    #form-badges td { padding-right: 9px; vertical-align: top; }
</style>
{% endblock pagecss %}

{% block pagecontent %}
    <div style="padding: 9px 23px;">

        {% if failed %}
        <div style="color:red;padding-bottom:9px;">יצירת תא נכשלה. או שהמדליה כבר קיימת או ששדות המידע למטה היו חסרים.</div>
        {% endif %}

        <div>
            <form id="form-badges" method="POST" action="/badges/custom/create">

                <table>

                    <tr>
                        <td style="font-weight:bold;">שם</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="name" value="" maxlength="30"/><br/>
                            <em>שם ייחודי למדליה. לא יכול להשתנות ולא נראה על ידי המשתמש.</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">תיאור</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="description" value="" maxlength="30"/><br/>
                            <em>תיאור קצר של המדליה, כמו "רצף טוב" או "התמדה". זה נראה למשתמש.</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">תיאור מלא</td>
                        <td style="padding-bottom:9px;">
                            <textarea name="full_description" rows="5" cols="40"></textarea><br/>
                            <em>תיאור מאורך או למה ואיך המשתמש הרוויח אותו, בדרך מושג בזמן עבר.<br/>לדוגמא: "הרוויח 100,000", "השאר משתמש של אקדמיית קהאן למשך 3 שנים" "השג מיומנות ב-25 תרגילים."</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">נקודות</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="points" value="0"/><br/>
                            <em>כמה נקודות כדאי לתת לאלו אשר מרוויחים את המדליה?</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">קטגורית המדליה</td>
                        <td style="padding-bottom:9px;">
                            <select name="badge_category" style="width:200px;">
                                <option value="-1"></option>
                                {% for badge_category in badge_categories %}
                                    <option value="{{ badge_category.0|escape }}">{{ badge_category.1|escape }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">איקון מותאם</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="icon_src" value=""/><br/>
                            <em>השאר ריק לשימוש באיקון סטנדרטי בשביל קטגורית המדליות.<br/>
                                השתמש ב-URL רלוונטי כמו "/images/your-icon.png" לאיקון מותאם ספציפי שיכול להיות משומש במדליה זו.</em>
                        </td>
                    </tr>

                </table>

                <br/>
                <input class="button" type="submit" value="צור עיטור"/>

            </form>
        </div>
    </div>
{% endblock pagecontent %}

