.hg
tags
.vimprojects
cscope.files

*.log
*.pyc
*combined.js
*compressed.js
*combined.css
*compressed.css
*compressed-ie.css
*uri.css
*.espressostorage
hashed-*.css
hashed-*.js
app/js_css_packages/packages_hash.py
app/js_css_packages/packages_compressed.py
app/javascript/*/*.js
app/templates/*.py
app/templates/*/*.py
app/secrets.py
*.pem
sample_data/bulkloader*
*.DS_Store
.*.swp
.*.un~
compiled_templates*
.vims
datastore/*
offline/*
*/.ipynb_checkpoints/*
v/
