{% extends "discussion/mod/mod_template.html" %}

{% block panelcontent %}

<h2>משתמשים מורחקים</h2>
<br/>
<strong>פרסומי  יונים של משתמשים מורחקים מוסתרים באופן אוטומטי משאר הקהילה.</strong>
<br/><br/>

{% if banned_user_data_list.count() %}
<table class="feedback_list">
    {% for user_data in banned_user_data_list %}
        <tr>
            <td>
                {{ user_data.email|escape }}
            </td>
            <td width="100%">
                <form method="POST" action="/discussion/mod/bannedlist">
                    <input type="hidden" name="banned" value="0" />
                    <input type="hidden" name="user" value="{{user_data.email|escape}}" />
                    <input type="submit" value="הסר"/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    אין משתמשים מורחקים.
{% endif %}

<br/></br>

<h3>הרחק משתמש</h3>
הזינו כתובת דוא"ל של משתמש ("user@gmail.com") cכדי להרחיקו ממערכת הדיונים.<br/>
<form method="POST" action="/discussion/mod/bannedlist">
    <input type="hidden" name="banned" value="1" />
    <input type="text" name="user" value="" />
    <input type="submit" value="בצע הרחקה"/>
</form>

{% endblock panelcontent %}


