{{#if this.length}}
    <div class="activity-list">
        <ul>
            {{#each this}}
            {{#renderActivity this}}{{/renderActivity}}
            {{/each}}
        </ul>
    </div>
{{else}}
    כאן יופיעו הפעילויות האחרונות שלכם כמו <a href="/#browse">צפיה בסרטונים</a>, <a href="/#browse">תרגולים</a>, וכן <a href="#achievements">מדליות שהושגו</a> .
{{/if}}

