<div id="vital-statistics">
    <div id="stats-charts" class="fancy-scrollbar -ce-capture">
        <div id="graph-control-container">
            <div id="graph-container">
                <div class="vital-statistics-description">
                    <div class="activity">
                        מציג כמה עבודה אתם עושים בכל יום.
                        {{#graph-date-picker-wrapper graph="activity"}}
                            {{> graph-date-picker}}
                        {{/graph-date-picker-wrapper}}
                    </div>
                    <div class="focus">
                        מציג כמה הצלחתם להתמקד בתרגילים ותחומי לימוד.
                        {{#graph-date-picker-wrapper graph="focus"}}
                            {{> graph-date-picker}}
                        {{/graph-date-picker-wrapper}}
                    </div>
                    <div class="exercise-progress">
                        מציג את התרגילים עליהם עבדתם והשלמתם.
                        <span class="graph-options">
                            <span class="progress-legend exercise-color started">התחלתם</span>
                            <span class="progress-legend exercise-color proficient">מיומנים</span>
                            <span class="progress-legend exercise-color review light">לבחון מחדש</span>
                            <span class="progress-legend exercise-color struggling">מתקשים</span>
                        </span>
                    </div>
                    <div class="exercise-progress-over-time">
                        מציג כמה תרגילים סיימתם לאורך הזמן
                    </div>
                    <div class="exercise-problems">
                        לחצו על העמודה כדי לראות מידע נוסף על שאלה מסוימת.
                    </div>
                </div>
                <div id="graph-progress-bar"></div>
                <div id="graph-content" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
