<script>
function createGoalInitialize(target) {
    GoalCreator.init();
    GoalCreator.showCatalog();
    TopicNav.init(false);
}
</script>

<div class="create-goal-page">
<form id="create-goal" action="javascript:">
    <div class="section-headline">
        <a id="goal-submit-button" onclick="javascript:GoalCreator.submit();" class="simple-button action-gradient green">יצירת יעד חדש</a>
        <a class="simple-button action-gradient close goals-close-button">ביטול</a>
        <span id="goal-commit-response" style="display:none;" class="goal-response-text"></span>
        <input type="text" name="title" class="goal-title simple-input ui-corner-all blur-on-esc" placeholder="יעד חדש (לחצו כדי לקבוע כותרת)"></input>
    </div>
    <div id="goal-info-section">
        <div id="create-goal-view"></div>
        <div id="goal-hidden-values"></div>
    </div>
</form>

<div id="container">
    <div id="goal-choose-videos">
        <div class="dashboard-content-stretch">
            {{ library_content }}
        </div>
    </div>
</div>

</div>
