{% macro empty_class_instructions(class_is_empty=True) -%}

    {% set coach_email = UserData.current().email if UserData.current() else "Not signed in. Please sign in to see your Coach ID." %}

    <div id="empty-class">
        {% if class_is_empty %}
        <h1>אין לכם עדיין תלמידים.</h1>
        {% endif %}
        <h3>כל אחד ואחד מהתלמידים שלם צריכים להרשם ולעשות את השלבים הבאים:</h3>
        <ol>
            <li>
                <p>תחילה, הם צריכים ללחוץ על הקישור <a href="/coaches">הוסיפו מדריכים</a> בתחתית העמוד.</p>
                <a href="/coaches"><img src="/images/add-a-coach.png" class="vertical-shadow rounded-background" /></a>
            </li>
            <li class="enter-email">
                <p>לאחר מכן, הם צריכים להכניס את שם המשתמש של המדרייכים בצורה שנראית כך:</p>
                <div class="coach-email">{{ coach_email|escape }}</div>
                <a href="/coaches"><img src="/images/enter-coach-email.png?{{App.version}}" class="vertical-shadow rounded-background"/></a>
                <p>
                    שם המשתמש שלכם (של המדריכים) הוא <strong>{{ coach_email|escape }}</strong>.
                </p>
            </li>
            <li class="click-register">
                <p>בסופו של דבר, הם צריכים ללחוץ על כפתור <em>הרשמת מדריכים</em> שנראה כך:</p>
                <div class="coach-email">{{ coach_email|escape }}</div>
                <a href="/coaches"><img src="/images/click-register.png?{{App.version}}" class="vertical-shadow rounded-background"/></a>
            </li>
        </ol>
        <p>כאשר התלמידים הופכים אותכם להיות המדריכים שלהם, תהיה לכם גישה לכל סוג של מידע מעניין בנוגע להתקדמות וההשגים שלהם.</p>
        <p>אתם יכולים לגשת למידע הזה דרך <a href="/class_profile">דו"ח כיתתי</a>.</p>
    </div>
{%- endmacro %}
