<div class="notification-bar" style="display:none;">
{% if login_notification %}
	<span class="notification-bar-content">הגרסה של העמוד בו אתם צופים הוא ללא בתוקף, וחלק מהתוכנות אולי יפסיקו לעבוד. בבקשה <a href="javascript: location.reload(true)">רעננו את העמוד</a>.</span>
	<span class="notification-bar-close">(<a href="javascript:">לסגור</a>)</span>
{% endif %}
</div>
<div class="notification-bar-spacer"></div>
