{% extends "reportissue_template.html" %}
{% block pagetitle %}שאלו שאלה{% endblock pagetitle %}
{% block pagecontent %}
<div style="padding: 10%;">
        <p>יש לכם שאלה? &nbsp; אנחנו רוצים לדעת על זה!&nbsp; 
        </p>
        <p>אם אתם ברי מזל, אתם יכולים למצוא את התשובה בעמוד <a href="/frequently-asked-questions">השאלות הנפוצות של סאל</a> או על ידי לחיצה על שאלה  <a href="http://code.google.com/p/hebrewkhan/issues/list?can=1&q=Status:Done,Fixed%20Type:Question&sort=-stars&colspec=Summary">ברשימת השאלות האחרות שנענו</a>.&nbsp;
        אם השאלה שלכם לא שם, מישהו אולי כבר שאל אותה אבל אנחנו לא הצלחנו לענות עליה עדיין, במקרה כזה
        אתם יכולים בפשטות להצביע לזה על ידי <b>הדלקת הכוכב ליד</b> ברשימת
        השאלות 
        <a href="http://code.google.com/p/hebrewkhan/issues/list?can=2&q=Status:Accepted,Started%20Type:Question&sort=-stars&colspec=Summary">שלא נענו.</a>.&nbsp; 
        אם זה לא ברשימה גם, בבקשה עקבו אחר הצעדים הבאים בכדי ליצור שאלה חדשה במערכת לאיתור בעיות.&nbsp;
	<ol>
		<li>לכו לטופס 
	        {% block new_issue_link %}<a href="http://code.google.com/p/hebrewkhan/issues/entry?template=Question%20from%20user&labels=Referer-{{referer|urlencode}},Type-Question,{{issue_labels|urlencode}}">שאלה חדשה</a>{% endblock new_issue_link %}.&nbsp;
		</li>
		<li>מלאו את <b>שדה</b> התקציר <b>ואת שדה</b> התיאור.&nbsp; <span style="color: red;"/>הערה: המידע שתספקו יהפוך לציבורי, אז אל תכלולו שום מידע פרטי או מסווג.</span></li>
		<li>לחצו על <b>כפתור</b> הפנה בעיה.</li>
	</ol>  
        השאלה שלכם תופיע ברשימת השאלות שלא נענו ברגע שבו תיהיה לנו ההזדמנות לסקור את זה במהירות.&nbsp;
        </p>
        <p>אם אתם מצביעים עבור שאלה או מגיש אחת חדשה, אתם תקבל דוא"ל כאשר מישהו מגיב עליה.&nbsp;
        כאשר אנחנו חושבים שענינו על זה אתם תקבלו דוא"ל שאומר "מצב: הושלם", וזה יופיע ברשימת השאלות שנענו.&nbsp;
        אם באיזו בנקודה אתם רוצים להפסיק לקבל דוא"ל, עקהו אחר הקישור באחד מהם ולחצו על הכוכב בשביל להפוך אותו לכהה.&nbsp;
        </p>
</div>
{% endblock pagecontent %}
