{% extends "page_template.html" %}
{% block pagescript %}
<style>
	p { margin-bottom: 1em; }
</style>
{% endblock pagescript %}
{% block pagetitle %} דווחו על בעיה {% endblock pagetitle %}
{% block pagecontent %}
<article id="report-problem">
	{% if message %}
	<p style="color: red;">
	{{message}}
	</p>
	{% endif %}
        <h2 class="main-headline">{% block have_an_issue %}יש בעיה?{% endblock have_an_issue %}&nbsp;
        אנחנו רוצים לדעת על זה!
        </h2>
				{% block exercise_warning %}{% endblock exercise_warning %}

        <iframe width="350px" height="336px" frameborder="0" scrolling="no" allowtransparency="true" src="//webengage.com/f/14507c71c?src=about" style="background-color:transparent;">
        </iframe>

        <p><em>שיחקת אותה! עזרת לנו לשפר את אקדמיית קהאן</em></p>
</article>
{% endblock pagecontent %}
