{% extends "page_template.html" %}

{% block pagecss %}
    {{ js_css_packages.css_package("topicsadmin") }}
{% endblock pagecss %}
{% block bottompagescript %}

    {{ js_css_packages.js_package("topicsadmin") }}

<script>

var initialTreeNodes = {{ tree_nodes }};
var editVersionData = {{ edit_version }};

$(function() {
    var editVersion = new TopicVersion(editVersionData);
    getTopicVersionList().add(editVersion);
    editVersion.getTopicTree().resetInited(initialTreeNodes);

    KAConsole.debugEnabled = true;
    TopicTreeEditor.init(editVersion);
});

</script>

{% endblock bottompagescript %}

{% block pagesubmenu %}
    <div id="topicversion-editor"></div>
{% endblock pagesubmenu %}

{% block pagecontent %}

<div id="topic_tree" style="width: 500px; height: 500px; overflow-y: auto; float: right;"></div>
<div id="details-view" style="width: 700px; height: 500px; overflow-y: auto; float: right;"></div>

<ul id="topic_context_menu" class="contextMenu">
    <li class="add_new_topic">
        <a href="#add_new_topic">הוסף תת נושא</a>
    </li>
    <li class="add_new_video separator">
        <a href="#add_new_video">הוסף סרטון חדש...</a>
    </li>
    <li class="add_existing_video">
        <a href="#add_existing_video">הוסף סרטון קיים...</a>
    </li>
    <li class="add_new_exercise separator">
        <a href="#add_new_exercise">הוסף תרגיל חדש...</a>
    </li>
    <li class="add_existing_exercise">
        <a href="#add_existing_exercise">הוסף תרגיל קיים...</a>
    </li>
    <li class="add_new_url separator">
        <a href="#add_new_url">הוסף URL חדש...</a>
    </li>
    <li class="export_topic separator">
        <a href="#export_topic">ייצאו נושא...</a>
    </li>
    <li class="import_topic">
        <a href="#import_topic">הוסף נושא מיובא...</a>
    </li>
    <li class="paste_item separator">
        <a href="#paste_item">הדביקו פריט</a>
    </li>
    <li class="delete_topic">
        <a href="#delete_topic">מחקו נושא</a>
    </li>
    <li class="ungroup_topic">
        <a href="#ungroup_topic">פרקו נושא מקבוצה</a>
    </li>
</ul>

<ul id="item_context_menu" class="contextMenu">
    <li class="copy_item">
        <a href="#copy_item">העתיקו</a>
    </li>
    <li class="cut_item">
        <a href="#cut_item">גזרו</a>
    </li>
    <li class="paste_after_item separator">
        <a href="#paste_after_item">הדביקו פה</a>
    </li>
    <li class="remove_item">
        <a href="#remove_item">הסירו מהנושא</a>
    </li>
</ul>


{% endblock pagecontent %}

