{% extends "page_template.html" %}

{% block pagetitle %}
    Badges
{% endblock pagetitle %}

{% block pagecontent %}

<div class="achievement-badges-explanation">
    <table style="width:100%" cellspacing="5">
        <tr>
            <td style="text-align:center;">
                <img src="/images/badges/meteorite-small.png" /><br/>
                <strong>מטאור</strong> תגים שכיחים וקלים להרוויח כאשר מתחילים.
            </td>
            <td style="text-align:center;">
                <img src="/images/badges/moon-small.png" /><br/>
                <strong>ירח</strong> תגים נדירים ומייצגים השקעה בלמידה.
            </td>
            <td style="text-align:center;">
                <img src="/images/badges/earth-small.png" /><br/>
                <strong>כדור הארץ</strong> תגים נדירים מאוד. הם דורשים כמות משמעותית של למידה. 
            </td>
            <td style="text-align:center;">
                <img src="/images/badges/sun-small.png" /><br/>
                <strong>שמש</strong> תגים אדירים. להרוויח אותם זה אתגר אמיתי, הם דורשים מסירות מרשימה. 
            </td>
            <td style="text-align:center;">
                <img src="/images/badges/eclipse-small.png" /><br/>
                <strong>חור שחור</strong> תגים אגדים ולא ידועים. הם הכי מיוחדים באקדמיית קהאן.
            </td>
            <td style="text-align:center;">
                <img src="/images/badges/master-challenge-blue-small.png" /><br/>
                <strong>טלאי אתגרי</strong> פרס מיוחד בשביל התחרות בתרגילים אתגריים
            </td>
        </tr>
    </table>
</div>

<article class="achievement-badges-container">
{% if user_badges_master %}
    <h3>טלאי האתגרים שלכם</h3>
    <div class="clear">&nbsp;</div>
    {% for user_badge in user_badges_master %}
        {% if user_badge.badge %}
            {{ badges.badge_block(user_badge.badge, user_badge) }}
        {% endif %}
    {% endfor %}
    <div class="clear">&nbsp;</div>
{% endif %}

{% if user_badges_normal %}
    <h3>התגים שלכם</h3>
    <div class="clear">&nbsp;</div>
    {% for user_badge in user_badges_normal %}
        {% if user_badge.badge %}
            {{ badges.badge_block(user_badge.badge, user_badge) }}
        {% endif %}
    {% endfor %}
    <div class="clear">&nbsp;</div>
{% endif %}


<br/><h2>כל התגים</h2>
{% for badge_collection in badge_collections %}
    {% for badge in badge_collection %}
        {% if loop.first %}
        <div class="clear">&nbsp;</div>
        <h3>{{ badge.type_label()|escape }}</h3>
        <div class="clear">&nbsp;</div>
        {% endif %}
        {{ badges.badge_block(badge, None, show_badge_frequencies) }}
    {% endfor %}
{% endfor %}
    <div class="clear">&nbsp;</div>
</article>

{% endblock pagecontent %}

