{% extends "page_template.html" %}
{% block meta_page_title %}Manage Coaches | {% endblock meta_page_title %}
{% block pagescript %}
<style>
#coaches {
    padding: 18px 23px;
}
#coaches p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#coaches td {
    padding: 9px;
}
#coaches tr.even_row td {
    background-color:#FFFFFF;
}
#coaches tr.odd_row td {
    background-color:#EFEFEF;
}
#page_sub_nav .breadcrumbs_nav a#manage-coaches.selected:before {left: 59px;}
#page_sub_nav .breadcrumbs_nav a#manage-coaches.selected:after {left: 60px;}
</style>
{% endblock pagescript %}

{% block pagesubmenu %}
<span class="breadcrumbs_nav">
    <a href="/coaches" id="manage-coaches" class="selected">נהלו מדריכים</a>
    <a href="/students" id="manage-students">נהלו תלמידים</a>
    <a href="/class_profile" id="class-stats">מצב כיתתי</a>
</span>
{% endblock pagesubmenu %}

{% block pagecontent %}

<article id="coaches">
{% if coach_requests %}
    <h2>מדריכים חדשים מחכים</h2>

    <p>המדריכים האלו ביקשו אותכם בתור התלמידים שלהם. <strong>אם אתם מקבלים אותם כהמדריכים שלכם, הם יקבלו גישה למידע שלכם באקדמיית קהאן.</strong>.</p>

    <table>
    {% for coach_request in coach_requests %}
            {% if loop.index % 2 == 0 %}
            <tr class="even_row">
            {% else %}
            <tr class="odd_row">
            {% endif %}
                <td>{{ coach_request.coach_requesting_data.email|escape }}</td>
                <td><a href="/acceptcoach?accept=1&coach_email={{ coach_request.coach_requesting_data.email|urlencode|escape }}" class="simple-button action-gradient">קבלו מדריכים</a></td>
                <td><a href="/acceptcoach?accept=0&coach_email={{ coach_request.coach_requesting_data.email|urlencode|escape }}" class="simple-button action-gradient">סרבו למדריכים</a></td>
            </tr>
    {% endfor %}
    </table>
{% endif %}

<h2 {% if coach_requests %}class="section-headline"{% endif %}>הוסיפו מדריכים</h2>
<p>
    המדריכים שלכם יתנו לכם את שם המשתמש שלהם. הכניסו אותו פה בשביל לתת להם גישה למידע שלכם באקדמיית קהאן.
</p>

<form action="/registercoach" method="post">
<input type="text" name="coach" class="blur-on-esc">
<input type="submit" value="Add coach" class="simple-button action-gradient">
</form>

{% if invalid_coach %}
<p><span style="color:red;font-weight:bold;">אנחנו לא יכולים למצוא את המדריכים.</span></p>

<p style="padding-left:18px;">
וודא שאתם מכניסים את השם המשתמש המלא של המדריכים שלכם, שהוא <em>מקרה רגיש.</em>שם המשתמש של המדריכים שלכם נראה כמו: <strong>teacher@gmail.com</strong> או <strong>http://facebookid.hebrewkhan.org/1067499349</strong>.<br/>
        אם אתם מכניסים את שם המשתמש של המדריכים באופן נכון ועדיין נתקלים בבעיות, וודא שהמדריכים התחברו לאקדמיית קהאן לפחות פעם אחת.
</p>
{% endif %}

{% if coach_emails %}

    <h2 class="section-headline">המדריכים שלך</h2>

    <table>
    {% for coach_email in coach_emails %}
            {% if loop.index % 2 == 0 %}
            <tr class="even_row">
            {% else %}
            <tr class="odd_row">
            {% endif %}
                <td>{{ coach_email|escape }}</td>
                <td><a href="/unregistercoach?coach={{ coach_email|urlencode|escape }}" class="simple-button action-gradient">הסירו מדריכים</a></td>
            </tr>
    {% endfor %}
    </table>
{% endif %}

<h2 class="section-headline">השם משתמש שלכם כתלמידים</h2>
<p>אם המדריכים שלכם מבקש ממכם עבור השם משתמש שלכם, הנה הוא: {{student_id|escape}}</p>
</article>
{% endblock pagecontent %}
