{% extends "about/about_template.html" %}

{% block aboutcontent %}

<div id="the-team" style="font-size: 14px;">
    <div class="col1">
        <h2>קבוצה קטנה למען מטרות גדולות</h2>
        <p>
            פרויקט "קהאן אקדמי" הישראלי החל לרקום עור וגידים אי שם ב-2011, במטרה להנגיש את החומרים של "Khan Academy" לדוברי העברית.
            כיום אנו פועלים כעמותת "כאן ועכשיו". אנחנו קבוצה של אנשים, שחברו מתוך הזדהות עם תפיסת הלימוד של "Khan Academy", ופועלים תוך כדי שיתוף פעולה עמם, באופן התנדבותי וללא מטרות רווח.
        </p>
        <p>
            באמצע 2013 התחלנו לפעול בשיתוף פעולה עם אני-10 ומאיה קלנר (היזמת) במטרה להעשיר את התכנים שלנו ולהתאים אותם גם לתכנית הלימודים הישראלית.
        </p>
        <p>
            שותפות נוספים לפרויקט: שנקר, קרן טראמפ, אירגון האינטרנט הישראלי, ערי חינוך, וחברת אנדרומדיה.
        </p>
    </div>
    <div class="col2">
        <table class="logo-table">
            <tr>
                <td background="/images/logos/logo-shenkar.jpg"></td>
                <td background="/images/logos/logo-trump.png"></td>
                <td background="/images/logos/logo-isoc.gif"></td>
            <tr>
        </table>
        <table class="logo-table">
            <tr>
                <td background="/images/logos/logo-arei-hinuch.png"></td>
                <td background="/images/logos/logo-ort.jpg"></td>
                <td background="/images/logos/logo-andromedia.jpg"></td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
    <hr>
    <h2 class="section-header">הצוות הישראלי</h2>
    {% for (id, name, bio) in team %}
        <div class="team-card" id={{id}}>
            <div class="card-photo vertical-shadow">
                <img src="/images/headshots/{{id}}.jpg" />
            </div>
            <div class="card-info">
                <h2 class="pulls">{{name}}</h2>
                <p>{{bio}}
                </p>
            </div>
        </div>
        {% if loop.index0 % 2 or loop.last%}<div class="clear"></div>{% endif %}
    {% endfor %}
    <div style="text-align:center;">
        <p>כמו כן עזרו בקידום הפרויקט האנשים היקרים האלה:</p>
        <ul>
            {% for name in contributors %}
                <li>{{name}}</li>
            {% endfor %}
        </ul>
    </div>

    <p>&nbsp;</p>
</div>
{% endblock aboutcontent %}

{% block bottompagescript %}
{{ super() }}
{% endblock bottompagescript %}
