{% extends "page_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block meta_page_title %}התנדבות | {% endblock meta_page_title %}
{% block pagescript %}
    <style>
        #page_sub_nav { display: none; }
        #public #container #form1 #header {display: none; }
    </style>
{% endblock pagescript %}
{% block pagecontent %}
<article id="contribute">
    <div class="col1 sixty-forty">
        <div id="translation">
        <h2 class="section-headline">עזרו לנו לתרגם</h2>
        <table><tr><td style="width:450px;">
        <h4 class="pulls">צרו כתוביות</h4>
        <p class="pulled">
        אתם יכולים לעזור לנו לתרגם כל סרטון באקדמיית קהאן
        <form target="_blank" id ="subtitle" method="GET" action="http://khan-report.appspot.com/translations/subtitleactions">
            בחרו שפה:
            <small><a href="http://khan-report.appspot.com/translations/subtitlestatus">(רשימה מלאה)</a></small>
            <select id="language-id" name="language">
            </select>
            <input id="playlist-id" name="playlist" value="הכל" type="hidden" />
            <input id="random-id" name="random" value="1" type="hidden" />
            <input id="subtitle-submit" type="submit" value="תרגם עכשיו" />
        </form>
        <p>
        בנוסף, אתם יכולים לראות כל סרטון באקדמיית קהאן, לחצו על כפתור הכתוביות בפינה הימינית התחתונה, השתמשו בכלי האוניברסלי בכדי לבחור שפה.
        </p>
        <script>
            var chart
            var languages = []
            var subtitled = []
            var subtitled_last_week = []
            var bar_color = []
            var bar_color = []

            var sort_language_list = function(selectId) {
                $(selectId).html($(selectId + " option").sort(function(a, b) {
                    return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
                }))
            }

            $.ajax({
                type: 'GET',
                url: 'http://khan-report.appspot.com/translations/getsubtitlelanguagescount',
                dataType: 'jsonp',
                success: function(l) {
                    $.each(l, function(i) {
                        $("#language-id").append($("<option />").val(l[i].language).text(l[i].language))
                        if (l[i].chart == true) {
                            languages.push('<a href="http://khan-report.appspot.com/translations/subtitlestatus?display=1&playlist=all&language=' + l[i].language + '">' + l[i].language + '</a>')
                            subtitled.push(l[i].translated_videos)
                            subtitled_last_week.push(l[i].last_week)
                            if (l[i].last_week > 1) {
                                bar_color.push("#3E7F57")
                            } else {
                                bar_color.push("#CCFFCC")
                            }
                        }
                    });

                    sort_language_list("#language-id")
                    $("#language-id").val('Spanish')

                    var tmp_color = bar_color
                    bar_color = []
                    for (var i = 0; i< tmp_color.length; i++) {
                        bar_color.push("#FFFFFF")
                    }
                    for (var i = 0; i< tmp_color.length; i++) {
                        bar_color.push(tmp_color[i])
                    }

                    Highcharts.setOptions({
                        colors: bar_color,
                    });

                    chart = new Highcharts.Chart({
                        chart : {
                            renderTo: 'highchart-subtitle',
                            defaultSeriesType: 'bar'
                        },
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: 'Languages with most subtitles'
                        },
                        colors: bar_color,
                        plotOptions: {
                            bar: {
                                stacking: 'normal',
                                colorByPoint: true,
                                pointWidth: 23,
                                borderWidth: 0,
                                shadow: false,
                                dataLabels: {
                                    enabled: true,
                                    color: "#FFFFFF",
                                    align: 'right',
                                    x: -2,
                                    y: 5,
                                    formatter: function() {
                                        var dlabel = ""
                                        if (this.series.name == 'Subtitled videos') {
                                            incremental = this.total - this.y
                                            if (incremental > 1) {
                                                dlabel = '+' + incremental
                                            }
                                            else {
                                                dlabel = ''
                                            }
                                        }
                                        else {
                                            dlabel = ''
                                        }

                                        return dlabel
                                    },
                                    style: {
                                        fontweight: 'bold',
                                        fontSize: '12'
                                    }
                                }
                            }
                        },
                        xAxis: {
                            categories: languages,
                            labels: {
                                style: {
                                    color: "#88AA11",
                                    fontWeight: 'bold'
                                }
                            },
                            tickColor: "#FFFFFF"
                        },
                        yAxis: {
                            title: {
                                text: '',
                            },
                            showLastLabel: false,
                            gridLineColor: "#FFFFFF"
                        },
                        tooltip: {
                            enabled: true,
                            formatter: function() {
                                var s
                                if (this.series.name == 'Subtitles added in the last week') {
                                    return false
                                }
                                s = '<b>' + this.x + '</b>'
                                s += '<br/>' + this.series.name + ': ' + this.y

                                return s
                            },
                            style: {
                                fontSize: 10,
                                fontWeight: 'bold',
                                color: '#88AA11'
                            }
                        },
                        series: [{
                            data: subtitled_last_week,
                            name: 'Subtitles added in the last week',
                            color: '#3E7F57'
                        }, {
                            data: subtitled,
                            name: 'Subtitled videos',
                            showInLegend: false,
                            color: '#88AA11'
                        }]
                    });
                }
            });

            $("#lang-status").submit(function(e) {
                $.each($("#lang-status").children(), function() {
                    $("#language").remove()
                });
                var lang = $("#language-id").val()
                $(this).append($("<input>").attr({id:"language", name:"language", value:lang, type:"hidden"}))
            });
        </script>
        </p>
        <h4 class="pulls">דיבוב סרטונים</h4>
        <p class="pulled">
        דיבבנו סרטונים  <a href="https://www.youtube.com/KhanAcademyLanguages">ב-16 שפות</a>אם אתם מרגישים שאתם יכולים לדובב, מה כדאי לכם לעשות?
        </p>
        <p>
        <a href="http://hebrewkhan.wufoo.com/forms/m7x3p9/" onclick="window.open(this.href,  null, 'height=1295, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="טופס הרשמה" class="simple-button action-gradient" style="display: inline-block;">הגישו בקשה להיות מתרגמים</a>
        <p>
        בנוסף הצטרפו לקבוצת המתרגמים המסויימת לשפה הזו. שלחו דוא"ל ריק (בלי טקסט בתוכן או בכותרת) ל-[language]-translators+subscribe@hebrewkhan.org <a href="https://sites.google.com/a/hebrewkhan.org/forge/for-translators/reference-page/translations-update">(רשימת שפות)</a>זה יהיה מקור המידע ועדכונים בנוגע למאמצי התרגום.
        </p>
        </td><td style="vertical-align:top;">
        <div id="highchart-container">
            <div id="highchart-subtitle" style="padding: 10px; width: 300px; height: 475px;"></div>
        </div>
        </td></tr></table>
        </div>
    </div>
    <div class="col2 sixty-forty">
        <h2 class="section-headline">תרומה</h2>
        <p>
            <em>עזרו לנו ליצור ביה"ס וירטואלי שהוא חינם לחלוטין!</em> אנחנו מאמינים 
            שלכל אחד בעולם מגיע גישה לאיכות חינוך גבוהה 
            ואנחנו מנסים בהדיקות להפוך את זה למציאות.
        </p>
        <p>
            אם אתם חושבים שעלינו על משהו, או שאקדמיית קהאן עזרה לכם 
            --- אנחנו נקבל בברכה כל סוג תמיכה שתוכלו לספק. עזור לנו 
            לעשות שינוי!
        </p>

        <p class="pulls"><a id="where-money-link" href="#">לאן הכסף שלכם הולך?</a></p>
        <div id="where-money" style="display:none;">
            <p>הכסף שלכם עוזר לנו לתמוך באנשים שלנו ובטכנולוגיה, ועוזר לנו:</p>
            <ul>
            <li>להמשיך להריץ את האתר, בחינם.</li>
                <li>ליצור תוכן ברמה גבוה, בעוד שפות.</li>
                <li>לפתח הערכת תרגילים אינטראקטיביים, בכדי להשלים את ספריית הסרטונים.</li>
                <li>שפר את האתר שלנו וצור את החינוך היוקרתי והטוב ביותר באנטרנט בחינם </li>
                <li>מאמצי תמיכה בשביל להשתמש בטכנולוגיה שלנו בבתי ספר מסביב לעולם</li>
                <li>תחקרו רעיונות אחרים שיש לנו בעתיד של החינוך ואיך 
                אנחנו חושבים שהוראה צריכה להעשות!</li>
            </ul>
        </div>
        <script>$("#where-money-link").click(function(){$("#where-money").slideDown("fast"); return false;});</script>

        <p class="pulled" style="font-family: Georgia, serif; font-size: 13px; margin-bottom: 18px;">
            <em>אנחנו לא נושאי רווח (חשבון מס:26-1544963), ואנחנו מסתמכים לגמרי על תרומות 
            כמו שלכם בשביל שנמשיך לעבוד. המתנות פטורות ממס וניתנות ליישום. בשביל שאלות בנוגע לתרומות או בעיות,  <a href="mailto:donate@hebrewkhan.org">שלחו לנו דוא"ל</a>.</em>
        </p>
        <div class="col1" style="max-width: 45%; min-width: 45%;">
            <h4>תרומה חד פעמית</h4>
            <p>
                <a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Donate-Link-Paypal']);" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2439291" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif">
                </a>
            </p>
        </div>
        <div class="col2" style="text-align: left;">
            <h4>תרומה מחזורית</h4>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="recurring-donations">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="business" value="JBBC7SGTYUGK2">
                <input type="hidden" name="lc" value="ארה"ב">
                <input type="hidden" name="item_name" value="תרומה חוזרת לאקדמיית קהאן[">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="2">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="p3" value="1">
                <input type="hidden" name="currency_code" value="דולרים">
                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
                <input type="hidden" name="return" value="http://www.hebrewkhan.org">
                    תרמו $<input type="text" name="a3" value="25" maxlength="30" style="width:45px;margin-left:2px;"> פעם 
                    <nobr>
                    <select name="t3" id="time-frame-select">
                    	<option value="W" data-plural="weeks">בשבוע</option>
                    	<option value="M" data-plural="months" selected>בחודש</option>
                    	<option value="Y" data-plural="years">בשנה</option>
                    </select>
                    ל
                    <select name="srt">
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                         <option value="5">5</option>
                         <option value="6">6</option>
                         <option value="7">7</option>
                         <option value="8">8</option>
                         <option value="9">9</option>
                         <option value="10">10</option>
                         <option value="11">11</option>
                         <option value="12" selected>12</option>
                         <option value="24">24</option>
                         <option value="36">36</option>
                         <option value="0">כל</option>
                     </select>
                     <span id="selected-time-frame">החודשים</span></nobr>
                <input id="recurring-donations-submit" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                 <img src="/images/throbber.gif" class="throbber" style="display:none;" />
                 <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
             </form>
             <script>
                 $("#time-frame-select").change(function() {
                     $("#selected-time-frame").html($("option:selected", this).attr("data-plural"));
                 });
             </script>
        </div>
    </div>
    <div class="clear"></div>
    <hr>
    <div class="col1 sixty-forty">
        <h2>פזרו את השמועה החוצה</h2>
        <p>
            פיזור השמועה בנוגע לאקדמיית קהאן זו הדרך הטובה ביותר לעזור
            לנו. כל חודש אנחנו משרתים 4 מיליון תלמידים, אבל אין סיבה שזה לא 
            יהיה 50 מיליון. בבקשה קחו רגע לשתף את האתר הזה עם 
            החברים שלכם והקהילה. 
        </p>
        <p>
            <a href="http://www.facebook.com/hebrewkhan" class="simple-button action-gradient social-button">
                <img src="/images/social_facebook_box_blue_48.png" width=48 height=48 />
                צרפו אלינו בפייסבוק
            </a>
        <br>
        <p>
        אם אתם מעוניינים בלעזור להביא את אקדמיית קהאן לביה"ס לידכם,
        <a href="/toolkit">גלו עוד</a> ובקשו ממנהלי ביה"ס
        <a href="/about/getting-started#schools">לשלוח בקשה.</a>
        </p>
        
    </div>
    <div class="col2 sixty-forty">
        <iframe id="meetup" src="http://www.meetup.com/everywhere/widget2/hebrewkhan/?width=275&height=290&usetheme=1" border="0" frameborder="0" height="290" width="100%"></iframe>
    </div>
    <div class="clear"></div>
    <hr>
    <div style="text-align:center; padding-bottom: 18px;"><p>אקדמיית קהאן קיבלה גם את הזמן, אנרגיה ומיומנות של הרבה <a href="/contribute/credits">מתנדבים ותורמים במשרה חלקית</a>.</p></div>
</article>
{% endblock pagecontent %}
{% block bottompagescript %}
    {{ js_css_packages.js_package("exercisestats") }}
    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
