{% extends "page_template.html" %}

{% block bottompagescript %}

    <script>

    function showLiveInstructions() {
        $('#live-instructions').slideDown('fast', function(){$('#submit-live-button').focus();});
    }

    function submitLive() {
        $("#form-exercise").attr("target", "_blank").attr("action", "http://www.hebrewkhan.org/updateexercise");
        $("#form-exercise").submit();
    }

    function insertVideo(key, title) {
        if (!insertVideo.c) insertVideo.c = 0;

        var html = "<div id='video-" + key + "'>" +
            "<input type='hidden' name='video-" + insertVideo.c + "' value='" + key + "' />" +
            "&bull; " + title + " (<a href='#' onclick='deleteVideo(\"" + key + "\");return false;'>remove</a>)" +
            "</div>";
        $("#videos-container").append(html);

        insertVideo.c += 1;
    }

    function addVideo(item) {
        if (item) {
            insertVideo(item.key, item.title);
            $("#related-videos-input").val("");
        }
    }

    function deleteVideo(key) {
        $("#video-" + key).remove();
    }

    function insertCover(cover) {
        if (!insertCover.c) insertCover.c = 0;

        var html = "<div id='cover-" + cover + "'>" +
            "<input type='hidden' name='cover-" + insertCover.c + "' value='" + cover + "' />" +
            "&bull; " + cover + " (<a href='#' onclick='deleteCover(\"" + cover + "\");return false;'>remove</a>)" +
            "</div>";
        $("#covers-container").append(html);

        insertCover.c += 1;
    }

    function addCover() {
        var cover = $("#add-cover").val();

        if (cover) {
            insertCover(cover);
            $("#add-cover").val("");
        }
    }

    function deleteCover(cover) {
        $("#cover-" + cover).remove();
    }

    function insertPrereq(prereq) {
        if (!insertPrereq.c) insertPrereq.c = 0;

        var html = "<div id='prereq-" + prereq + "'>" +
            "<input type='hidden' name='prereq-" + insertPrereq.c + "' value='" + prereq + "' />" +
            "&bull; " + prereq + " (<a href='#' onclick='deletePrereq(\"" + prereq + "\");return false;'>remove</a>)" +
            "</div>";
        $("#prereqs-container").append(html);

        insertPrereq.c += 1;
    }

    function addPrereq() {
        var prereq = $("#add-prereq").val();

        if (prereq) {
            insertPrereq(prereq);
            $("#add-prereq").val("");
        }
    }

    function deletePrereq(prereq) {
        $("#prereq-" + prereq).remove();
    }

    $(function() {
    {% for prereq in main_exercise.prerequisites %}
        insertPrereq('{{ prereq|escapejs }}');
    {% endfor %}

    {% for cover in main_exercise.covers %}
        insertCover('{{ cover|escapejs }}');
    {% endfor %}

    {% for exercise_video in exercise_videos %}
        insertVideo('{{ exercise_video.video.key()|escapejs }}', '{{ exercise_video.video.title|escapejs }}');
    {% endfor %}
    });

    $(function(){
        // Configure the search form
        $('#related-videos-input').placeholder();
        initAutocomplete("#related-videos-input", false, addVideo, true);
    });

    </script>

{% endblock bottompagescript %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/admin94040">תרגילים</a>
        {{ main_exercise.display_name|escape }}
        {% if saved %}
            <span style="color:green;" id="saved">...נשמרו!</span>
            <script>$(function(){setTimeout(function(){$("#saved").fadeOut("slow");}, 2000);});</script>
        {% endif %}
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}

    <style>
        .exercise-properties td { padding-right: 9px; }
        #footer { z-index:0 ; }
    </style>

    <div style="padding: 9px 23px;">
        <div>
            <form id="form-exercise" method="POST" action="/updateexercise">
                <input type="hidden" name="name" value="{{main_exercise.name|escape}}"/>

                <table class="exercise-properties">

                    <tr>
                        <td style="font-weight:bold;">צפו</td>
                        <td style="padding-bottom:9px;">
                            <a href="{{ main_exercise.relative_url|escape }}" target="_blank">פתחו {{ main_exercise.display_name|escape }} בחלונית חדשה</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">מצב</td>
                        <td style="padding-bottom:9px;">
                            <label for="live_yes">שידור חי&nbsp;</label><input type="radio" id="live_yes" name="live" value="1" {% if main_exercise.live %}checked="checked"{% endif %}/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="live_no">מפתחים בלבד&nbsp;</label><input type="radio" id="live_no" name="live" value="0" {% if not main_exercise.live %}checked="checked"{% endif %}/>
                            <br/>
                            <em>תרגילים לא בשידור חי מוחבאים לחלוטין ממשתמשים רגילים.</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">שם תצוגה</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="display_name" value="{{main_exercise.display_name|escape}}"/><br/>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">שם קצר</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="short_display_name" value="{{main_exercise.short_display_name|escape}}" maxlength="11"/><br/>
                            <em>שם קצר הוא בשימוש בכמה אלמנטים של UI שהם קטנים מידי לתצוגה של השם המלא של התרגיל (11 תווים מקסימום).</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">מיקום אופקי</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="v_position" value="{{main_exercise.v_position}}"/></br>
                            <em>מספרים גדולים מזיזים את התרגיל הזה ימינה במפת הידע.</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">מיקום אנכי</td>
                        <td style="padding-bottom:9px;">
                            <input type="text" name="h_position" value="{{main_exercise.h_position}}"/></br>
                            <em>מספרים גדולים מזיזים את התרגיל הזה למטה במפת הידע.</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">תנאים מקדימים</td>
                        <td style="padding-bottom:9px;">
                            <div id="prereqs-container"></div>

                            <select id="add-prereq" onchange="addPrereq();" style="width:200px;">
                                <option value=""> - הוסף תרגיל מקדים - </option>
                                {% for exercise in exercises %}
                                    <option value="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</option>
                                {% endfor %}
                            </select><br/>

                            <em>נציע תרגיל זה כאשר התנאים המקדימים יושלמו.</em><br/>
                            {% if main_exercise.summative %}
                            <em><strong>תרגילים מסכמים</strong> ייצרו תרגילים מכל התנאים המקדימים.</em></br>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">תרגילים המכסים את החומר</td>
                        <td style="padding-bottom:9px;">
                            <div id="covers-container"></div>

                            <select id="add-cover" onchange="addCover();" style="width:200px;">
                                <option value=""> - הוסף תרגיל המכסה את החומר - </option>
                                {% for exercise in exercises %}
                                    <option value="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</option>
                                {% endfor %}
                            </select><br/>

                            <em>השגת מיומנות בתרגיל זה ישיג לכם מיומנות בכל התרגילים אשר מכסים את החומר.</em>
                        </td>
                    </tr>

                    {% if not main_exercise.summative %}
                    <tr>
                        <td style="font-weight:bold;">סרטונים קשורים</td>
                        <td style="padding-bottom:9px;">
                            <div id="videos-container"></div>

                            <input id="related-videos-input" style="width:200px;" type="text" placeholder="- הוסף סרטון קשור -" value='' class="placeholder" />
                        </td>
                    </tr>
                    {% endif %}


                    <tr>
                        <td style="font-weight:bold;">תיאור</td>
                        <td style="padding-bottom:9px;">
                        <input type="text" name="description" value="{{ main_exercise.description }}" maxlength="256"/><br/>
                        <em>טקסט תיאורי הנראה ברשימת הנושאים</em>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold;">תיוויות</td>
                        <td style="padding-bottom:9px;">
                            <div class="tags-list"></div>

                            <input class="add-tag" type="text" value="" maxlength="32" placeholder="- הוסף תווית" class="placeholder short" /> 
                            <a href="javascript:" data-id="add-tag" class="item-action simple-button action-gradient">הוסף</a>
                        </td>
                    </tr>



                </table>

                <br/>
                <input class="button" type="submit" value="עדכן {{ main_exercise.display_name|escape }}"/>

                {% if App.is_dev_server %}
                ...או <a href="#" onclick="showLiveInstructions();return false;">לפרוס את העדכונים האלו למאגר מידע החי של ההפקה</a>

                    <div id="live-instructions" style="display:none;padding:18px;margin:18px;background:#CCC;">
                        <strong style="color:red;">אזהרה:</strong>היישום ישלח את העדכונים האלו בשידור חי למאגר המידע של www.hebrewkhan.org, התרגיל הזה באופן מיידי יהפוך לזמין לפי המצב מעליו.<br/>
                        <input id="submit-live-button" class="button" onclick="submitLive();return false;" type="button" value="שלח עדכון של {{ main_exercise.display_name|escape }} ל-www.hebrewkhan.org"/><br/>
                        <em>יישום בחלון חדש. אם אתם לא מחוברים כמנהל ל- wwww.hebrewkhan.org, אתם תצטרכו להתחבר וללחוץ על הכפתור שוב.</em>
                    </div>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock pagecontent %}
