{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
    {% import 'macros/analytics.html' as analytics %}
{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
</style>
{% endblock pagecss %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article id="homepage">
    <div id="homepage-text" class="visited-no-recolor">
        <h1 class="main-headline">
            מתחילים ללמוד כאן ועכשיו. ובחינם.
        </h1>
    </div>
    {% if not user_data %}
    <div class="call-to-action-buttons desktop-only">
        <a href="/login" class="call-to-action simple-button action-gradient green">התחברו</a>
        <fb:facepile colorscheme="light" size="large" width="300px" max_rows="1" class="fb_iframe_widget"/>
    </div> 
    {% endif %}
    {% if thumbnail_link_sets %}
        <h2>
            חדש ומעניין
        </h2>
        <div id="thumbnails_container">
            <table width="100%">
                <tr>
                    <td width="3%">
                        <div class="thumbnails_arrow action-gradient" id="arrow-left">
                            <div class="arrow-left"></div>
                        </div>
                    </td>
                    <td width="94%">
                        <div id="thumbnails" class="visited-no-recolor">
                            {% for thumbnail_link_set in thumbnail_link_sets %}
                                {% set outerloop = loop %}
                                <div {% if not loop.first %}style="display:none;"{% endif %}><table style="width:100%"><tr>
                                {% for thumbnail_link in thumbnail_link_set %}
                                <td style="width:25%" class="thumbnail_td {{ thumbnail_link["type"] }} {% if thumbnail_link["selected"] %}selected{% endif %}" data-key="{{ thumbnail_link["key"]|escape }}" data-youtube-id="{{ thumbnail_link["youtube_id"]|escape }}">

                                    <a href="{{ thumbnail_link["href"]|escape }}" class="thumbnail_link"><div 
                                            {% if outerloop.first %}
                                            class="thumb" style="background-image:url('{{ thumbnail_link["thumb_urls"]["hq"]|escape }}')"
                                            {% else %}
                                            class="thumb pending" data-src="{{ thumbnail_link["thumb_urls"]["hq"]|escape }}"
                                            {% endif %}
                                            ></div></a>

                                        <a href="{{ thumbnail_link["href"]|escape }}" class="thumbnail_link"><div class="thumbnail_label"><div class="thumbnail_desc">{{ thumbnail_link["desc_html"] }}</div><div class="thumbnail_teaser">{{ thumbnail_link["teaser_html"] }}</div></div></a>
                                    </td>
                                {% endfor %}
                                </tr></table></div>
                            {% endfor %}
                        </div>
                    </td>
                    <td width="3%">
                        <div class="thumbnails_arrow action-gradient" id="arrow-right">
                            <div class="arrow-right"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <div class="clear"></div>

{% if is_mobile %}
    {{ library_content }}
{% else %}
    <h3 class="section-headline pulls">
        עיינו בספריה שלנו עם יותר מ-{{approx_vid_count|thousands_separated}} סרטונים
        ו-{{exercise_count}} תרגילים, מסודרים לפי תוכנית הלימודים מכיתה א' ועד יב':
        <a name="browse">&nbsp;</a>
    </h3>
    {{ library_content }}
{% endif %}

</article>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">חזרה לראש העמוד</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
        <script type="text/javascript">
            $(function(){
                VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

                if (typeof(Homepage) !== "undefined") {
                    Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
                }
            });

            (function(){
                var twitterWidgets = document.createElement('script');
                twitterWidgets.type = 'text/javascript';
                twitterWidgets.async = true;
                twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
                // Setup a callback to track once the script loads.
                twitterWidgets.onload = _ga.trackTwitter;
                document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
            })();

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            _ga.trackFacebook();
        </script>
    {% endif %}

    {{ analytics.crazyegg_tracker(False) }}

    {% if link_heat %}
    <script type="text/javascript" src="/javascript/random/linkheat.js?{{App.version}}"></script>
    {% endif %}
{% endblock bottompagescript %}
