{% extends "page_template.html" %}

{%- import 'macros/user.html' as user -%}
{% import 'macros/youtube.html' as youtube %}
    {% import 'macros/analytics.html' as analytics %}
{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
</style>
{% endblock pagecss %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article id="homepage">
    <div id="homepage-text" class="visited-no-recolor">
        <h1 class="main-headline">
            מתחילים ללמוד כאן ועכשיו. ובחינם.
        </h1>
        {% if not is_mobile %}
            <h3 class="section-headline pulls">
                עיינו בספריה שלנו עם יותר מ-{{approx_vid_count|thousands_separated}} סרטונים ו-{{exercise_count}} תרגילים, מסודרים לפי תוכנית הלימודים מכיתה א' ועד יב'.
                <br>מלבד סרטיו של סלמאן קהאן אותם תרגמנו ודובבנו מאנגלית לעברית, תמצאו בספריה שלנו:
                <h3>כ-2000 סרטונים במתמטיקה (כולל בגרויות) שנערכו ע"י <img class="embedded-logo" src="/images/ani10logo.png">
                <h3>ויותר מ-300 סרטונים במתמטיקה ("מתמטיקה תחילה") שנערכו ע"י אלי נצר <img class="embedded-logo" src="/images/logos/shiurton.png">
                <a name="browse">&nbsp;</a>
            </h3>
        {% endif %}
    </div>
    {% if not user_data %}
    <div class="call-to-action-buttons desktop-only">
        <a href="/login" class="call-to-action simple-button action-gradient green">התחברו</a>
        <fb:facepile colorscheme="light" size="large" width="300px" max_rows="1" class="fb_iframe_widget"/>
    </div>
    {% endif %}

    <div class="clear"></div>
    {{ library_content }}

    {% if is_mobile %}

        {% if logged_in %}
            <div data-role="page" data-theme="c" id="mobile-profile">
                <div data-role="header" data-theme="b">
                    <h1>{{ username }}</h1>
                    <a data-role="button" data-ajax="false" href="/logout">התנתק</a>
                </div>
                <div data-role="content">
                    <div>
                        <span>הצטרף <abbr class="timeago" title="{{user_profile.date_joined}}">
                        {{user_profile.date_joined}}</abbr></span>
                    </div>

                    <div class="basic-stats clearfix">
                        <div class="simple-stat">
                            <img class="summary-icon star" src="/images/profile-icons/inset-star.png">
                            <div class="stat-text">{{ user_profile.count_exercises_proficient }}
                            <span class="stat-divider">/</span>{{ exercise_count }}</div>
                        </div>
                        <div class="simple-stat">
                            <img class="summary-icon" src="/images/profile-icons/inset-camera.png">
                            <div class="stat-text">{{ user_profile.count_videos_completed }}
                            <span class="stat-divider">/</span>{{ count_videos }}</div>
                        </div>
                        <div class="simple-stat">
                          <span title="{{ user_data.points|thousands_separated }} נקודות אנרגיה" class="energy-points-badge"
                              style="float:none; display:block; margin-bottom: 1px; margin-top: 2px; padding:0; line-height: 20px;">
                              {{ points|thousands_separated }}
                          </span>
                          נקודות אנרגיה
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        {% else %}
            {{ user.mobile_login(login_url) }}
        {% endif %}
    {% endif %}

</article>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">חזרה לראש העמוד</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if is_mobile %}
        <script>
        {% if user_data %}
            $("#mobile-login-btn")
                .text("{{ username }} ({{ user_data.points }} נקודות)")
                .attr("href", "#mobile-profile")
        {% endif %}
        $("#login-google").click(function(e) {
            $("#login-form").submit();
        });
        $("#login-facebook").click(function(e) {
            FacebookHook.doLogin();
        });
        $("abbr.timeago").timeago()
        </script>
    {% else %}
        {{ js_css_packages.js_package("homepage") }}
        <script type="text/javascript">
            $(function(){
                VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

                if (typeof(Homepage) !== "undefined") {
                    Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
                }
            });

            (function(){
                var twitterWidgets = document.createElement('script');
                twitterWidgets.type = 'text/javascript';
                twitterWidgets.async = true;
                twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
                // Setup a callback to track once the script loads.
                twitterWidgets.onload = _ga.trackTwitter;
                document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
            })();

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            _ga.trackFacebook();
        </script>
    {% endif %}

    {{ analytics.crazyegg_tracker(False) }}

    {% if link_heat %}
    <script type="text/javascript" src="/javascript/random/linkheat.js?{{App.version}}"></script>
    {% endif %}
{% endblock bottompagescript %}
