<div class="goalpicker">
    <h3>התחילו יעד חדש</h3>

        <div class="small newgoal goal five_videos {{#if hasVideo}}disabled{{/if}}">
            <h4><a href="#five-videos">חמישה סרטונים</a></h4>
            <div class="objective_list">
                <ul class="inline-list objective-list">
                {{#repeat 5}}
                    <li class="objective" style="width: 20%">
                        <a class="objective simple-button action-gradient video blue" href="#">
                            <span class="objective-description">כל תרגיל</span>
                        </a>
                    </li>
                {{/repeat}}
                </ul>
            </div>
            <div class="info pos-right">
                <p>צפו באחד מחמשת הסרטונים בשביל להשלים את היעד!</p>
                <p>
                    כשאתם מסיימים יותר מהיעד שלכם,
                    האייקונים של היעד יתמלאו
                    עד שיהיו מלאים.
                </p>
                <button class="simple-button action-gradient green">התחילו!</button>
            </div>
        </div>

        <div class="small newgoal goal five_exercises {{#if hasExercise}}disabled{{/if}}">
            <h4><a href="#five-exercises">חמישה תרגילים</a></h4>
            <div class="objective_list">
                <ul class="inline-list objective-list">
                {{#repeat 5}}
                    <li class="objective" style="width: 20%">
                        <a class="objective simple-button action-gradient GoalObjectiveAnyExerciseProficiency blue" href="#">
                            <span class="objective-description">כל תרגיל</span>
                        </a>
                    </li>
                {{/repeat}}
                </ul>
            </div>
            <div class="info pos-left">
                <p>השלימו חמישה תרגילים!</p>
                <p>
                    כשאתם מסיימים יותר מהיעד שלכם,
                    האייקונים של היעד יתמלאו
                    עד שיהיו מלאים.
                </p>
                <button class="simple-button action-gradient green">התחילו!</button>
            </div>
        </div>

        <div class="big newgoal goal custom">
            <h4><a href="#custom-goal">יעד מותאם אישית</a></h4>
            <ul class="inline-list objective-list">
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue exercise" href="#">
                        <span class="objective-description">הוספת עשרוניים</span>
                    </a>
                </li>
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue exercise" href="#">
                        <span class="objective-description">כפל 2</span>
                    </a>
                </li>
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue exercise" href="#">
                        <span class="objective-description">בעיות מילוליות 2</span>
                    </a>
                </li>
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue video" href="#">
                        <span class="objective-description">אלגברה: קווים גרפים 1</span>
                    </a>
                </li>
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue video" href="#">
                        <span class="objective-description">משוואות ריבועיות חלק 2</span>
                    </a>
                </li>
                <li class="objective" style="width: 16.67%;">
                    <a class="objective simple-button action-gradient blue exercise" href="#" data-progress="0
                        " style="border-right-style: none; border-right-width: initial; border-right-color: initial;"><span class="objective-description">קריאת טבלאות 2</span>
                    </a>
                </li>
            </ul>

            <div class="info pos-top">
                <p>יעדים מותאמות יכולות להכיל תרגילים או סרטונים אשר אתם בוחרים בעצמכם.</p>

                <button class="simple-button action-gradient green">התחילו!</button>
            </div>

        </div>
</div>
